<script src="/static/js/app.js"></script> 
<? for cate, lst in pairs(apps) do ?>

<h2 class="ui dividing header"> <?=cate ?></h2>
<div class="ui items">
	<? for _, v in pairs(lst) do ?>
	<div class="app item" lname="<?=v.lname?>">
		<div class="ui circular segment">
			<img src="/static/img/demo/avatar.jpg">
		</div>
		<div class="content">
			<div class="meta"><?=v.version ?></div>
			<div class="name"><?=v.lname ?></div>
			<p class="description"><?=v.desc ?></p>
		</div>
	</div>
	<? end ?>
</div>
<? end ?>
