<script src="/static/js/app.js"></script> 
<?
local has_app = false
for cate, lst in pairs(apps) do
	has_app = true
?>

<h2 class="ui dividing header"> <?=cate ?></h2>
<div class="ui items">
	<? for _, v in pairs(lst) do ?>
	<div class="app item" lname="<?=v.lname?>">
		<div class="ui circular segment">
			<img src="/static/img/demo/avatar.jpg">
		</div>
		<div class="content">
			<div class="meta"><?=v.version ?></div>
			<div class="name"><?=v.lname ?></div>
			<p class="description"><?=v.desc ?></p>
		</div>
	</div>
	<? end ?>
</div>
<? end ?>


<? if not has_app then ?>
<div class="ui icon large green message">
	<i class="info icon"></i>
	<div class="content">
		<div class="header">
			No application?! Install ONE
			<a href="/app/new" class="ui blue link">
				<b> </b>
				<i class="cloud download large icon"></i>
			</a>
		</div>
	</div>
</div>

<? end ?>
