<script src="/static/js/app.js"></script> 
<script src="/static/js/table.js"></script>

<table id="applist" class="ui sortable table segment">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Description2</th>
		</tr>
	</thead>
	<tbody>
	<?
	local has_app = false
	local cates = 0
	local counts = 0
	for cate, lst in pairs(apps) do
		cates = cates + 1
		has_app = true
		for _, v in pairs(lst) do 
			counts = counts + 1
		?>
		<tr>
			<!--<td class="<?=v.run and '' or 'warning' ?>" > -->
			<td>
				<i class="<?=v.run and '' or 'attention icon' ?>"></i>
				<a href="/app/view/<? =escape_url(v.lname) ?>"><b><?=v.lname?></b></a>
			</td>
			<td>
				<i> <?=v.desc?> </i> - 
				<a href="/store/view/<?=v.path?>">
					<b><?=v.name?></b>
				</a> 
				<i> v<?=v.version?> by 
					<b>
						<a href="/store/author/<?=v.author?>">
							<?=v.author?>
						</a>
					</b>
				</i>
			</td>
			<td>aaaaaaaaaaa</td>
		</tr>
		<? end ?>
	<? end ?>

	</tbody>
	<tfoot>
		<tr>
			<th>Total <?=counts?></th>
			<th>In <?= cates?> types</th>
			<th></th>
		</tr>
	</tfoot>
</table>

<? if not has_app then ?>
<div class="ui icon large green message">
	<i class="info icon"></i>
	<div class="content">
		<div class="header">
			No application?! Install ONE
			<a href="/store" class="ui blue link">
				<b> </b>
				<i class="cloud download large icon"></i>
			</a>
		</div>
	</div>
</div>

<? end ?>


<script type="text/javascript">
/*
	$(document).ready(function () {
			var oTable = $('#applist').editableTableWidget({
				editor: $('<textarea>'),
				cloneProperties: ['background', 'border', 'outline'],
			});
	});
	*/
</script>
