<script src="/static/js/table.js"></script>

<table id="applist" class="ui sortable table segment">
	<thead>
		<tr>
			<th><?=_("Name")?></th>
			<th><?=_("Description")?></th>
			<th><?=_("Controls")?></th>
		</tr>
	</thead>
	<tbody>
	<?
	local has_app = false
	local cates = 0
	local counts = 0
	for cate, lst in pairs(apps) do
		cates = cates + 1
		has_app = true
		for _, v in pairs(lst) do 
			counts = counts + 1
		?>
		<tr>
			<!--<td class="<?=v.run and '' or 'warning' ?>" > -->
			<td>
				<i class="<?=v.run and 'teal circle icon' or 'red attention icon' ?>"></i>
				<a href="/app/view/<? =escape_url(v.lname) ?>"><b><?=v.lname?></b></a>
			</td>
			<td>
				<i> <?=v.desc?> </i> - 
				<a href="/store/view/<?=v.path?>">
					<b><?=v.name?></b>
				</a> 
				<i> v<?=v.version?> by 
					<b>
						<a href="/store/author/<?=v.author?>">
							<?=v.author?>
						</a>
					</b>
				</i>
			</td>
			<td>
				<? if v.run then ?>
				<a class="ui mini icon button" href="/apps/<?=v.lname?>"> 
					<i class="ui teal info icon"></i>
					<?=translate("View")?>
				</a>
				<div class="ui mini icon button" onclick="stop_app('<?=v.lname?>')">
					<i class="ui teal stop icon"></i>
					<?=translate("Stop")?>
				</div>
				<? else ?>
				<div class="ui mini icon button" onclick="start_app('<?=v.lname?>')">
					<i class="ui teal play icon"></i>
					<?=translate("Start")?>
				</div>
				<? end ?>
				<? if v.new_version then ?>
				<a class="ui mini icon button" href="/store/upgrade/<?=v.lname?>">
					<i class="ui orange up icon"></i>
					<?=translate("Upgrade to")?> <?=v.new_version?>
				</a>
				<? end ?>
			</td>
		</tr>
		<? end ?>
	<? end ?>

	</tbody>
	<tfoot>
		<tr>
			<th><?=_("Total")?> <?=counts?></th>
			<th>
				<?=_("Types")?> <?= cates?> 
				<div class="ui tiny teal button" onclick="update_cache();"><?=_("Check for updates")?></div>
			</th>
			<th></th>
		</tr>
	</tfoot>
</table>

<? if not has_app then ?>
<div class="ui icon large green message">
	<i class="info icon"></i>
	<div class="content">
		<div class="header">
			<?=_("No application?! Install ONE")?>
			<a href="/store" class="ui blue link">
				<b> </b>
				<i class="cloud download large icon"></i>
			</a>
		</div>
	</div>
</div>

<? end ?>


<script type="text/javascript">
	function update_cache() {
		$.ajax({
			type: "POST",
			url: "/store",
			data:{ action : 'update' },
			error: function(jqXHR, textStatus, errorThrown) {
				if (textStatus == "error") {
					$('#setting_status').text("Failed to fetch application information from store server, error : " + errorThrown);
				} else {
					alert(textStatus);
				}
			},
			success: function(data, textStatus, jqXHR) {
				alert('Please refresh the page a while later');
			}
		});
	};

	function stop_app(appname) {
		$.post("/app/ctrl", {action:"close",app:appname}, function(data) {
				alert(data);
				})
		.done(function() {
				//alert("Application Started!!");
				})
		.fail(function() {
				alert("<?=_('Failed to send stop request!!')?>");
				});
	};

	function start_app(appname) {
		$.post("/app/ctrl", {action:"start",app:appname}, function(data) {
				alert(data);
				})
		.done(function() {
				//alert("Application Started!!");
				})
		.fail(function() {
				alert("<?=_('Failed to send start request!!')?>");
				});
	};
</script>
