<? extend'layout.html'?>
<link rel="stylesheet" href="/static/library/ztree/css/zTreeStyle/zTreeStyle.css" type="text/css"/>
<script type="text/javascript" src="/static/library/ztree/js/jquery.ztree.all-3.5.min.js"></script>

<style type="text/css">
	.ztree li span.button.add {margin-left:2px; margin-right: -1px; background-position:-144px 0; vertical-align:top; *vertical-align:middle}
</style>

<div class="tab segment">
	<div class="container">
		<div class="introduction">
			<h2 class="ui dividing header"> <?=_("Modbus")?> - <?=app.appname ?> </h2>
		</div>
	</div>
</div>

<div class="main container">
	<div class="ui two column relaxed grid basic segment">
		<div class="six wide column">
			<p>
			<div class="ui dropdown selection modes" onChange="changeType(this)">
				<input id="modbus_modes" name="modbus_modes" type="hidden" value=-1 />
				<div class="text">MODBUS MODES</div>
				<i class="dropdown icon"></i>
				<div class="menu">
					<div class="item" data-value=0>MODBUS RTU</div>
					<div class="item" data-value=1>MODBUS TCP</div>
					<div class="item" data-value=2>MODBUS ASCII</div>
					<div class ="item" data-value=3>SERIAL SERVER</div>
				</div>
			</div>
			</p>
			<div class="ui clearing divider"></div>
			<div class="ui segment">
				<div id="treeDemo" class="ztree"></div>
			</div>
			<div class="ui clearing divider"></div>
			<div class="ui button" id="packet" name="packet_sequencing">Packet Sequencing</div>
		</div>
		<div class="ten wide column">
			<div class="ui basic segment">
				<div class="ui button" id="pSave" name="pSave">Save</div>
				<div class="ui clearing divider"></div>
				<form class="ui form">
					<div id="RTU" name="RTU">
						<div class="inline field">
							端口:
							<div class="ui dropdown selection sPort">
								<div class="text">PORT</div>
								<i class="dropdown icon"></i>
								<div class="menu">
									<? for k, v in pairs(list) do ?>
									<div class="item" data-value="<?=v?>"><?=v?></div>
									<? end ?>
								</div>
							</div>
							波特率:
							<div class="ui dropdown selection baud">
								<input type="hidden" value=9600 />
								<div class="text">BAUD</div>
								<i class="dropdown icon"></i>
								<div class="menu">
									<div class="item" data-value=0>0</div>
									<div class="item" data-value=50>50</div>
									<div class="item" data-value=75>75</div>
									<div class="item" data-value=110>110</div>
									<div class="item" data-value=134>134</div>
									<div class="item" data-value=150>150</div>
									<div class="item" data-value=300>300</div>
									<div class="item" data-value=600>600</div>
									<div class="item" data-value=1200>1200</div>
									<div class="item" data-value=1800>1800</div>
									<div class="item" data-value=2400>2400</div>
									<div class="item" data-value=4800>4800</div>
									<div class="item" data-value=9600>9600</div>
									<div class="item" data-value=19200>19200</div>
									<div class="item" data-value=38400>38400</div>
									<div class="item" data-value=57600>57600</div>
									<div class="item" data-value=115200>115200</div>
									<div class="item" data-value=230400>230400</div>
									<div class="item" data-value=460800>460800</div>
									<div class="item" data-value=921600>921600</div>
								</div>
							</div>
							数据位:
							<div class="ui dropdown selection data_bits">
								<input type="hidden" value=8 />
								<div class="text">DATA BITS</div>
								<i class="dropdown icon"></i>
								<div class="menu">
									<div class="item" data-value=6>6</div>
									<div class="item" data-value=7>7</div>
									<div class="item" data-value=8>8</div>
								</div>
							</div>
						</div>
						<div class="inline field">
							校验位:
							<div class="ui dropdown selection parity">
								<input type="hidden" value=0 />
								<div class="text">PARITY</div>
								<i class="dropdown icon"></i>
								<div class="menu">
									<div class="item" data-value=0>NONE</div>
									<div class="item" data-value=1>ODD PARITY</div>
									<div class="item" data-value=2>EVEN PARITY</div>
								</div>
							</div>
							停止位:
							<div class="ui dropdown selection stop_bits">
								<input type="hidden" value=1 />
								<div class="text">STOP BITS</div>
								<i class="dropdown icon"></i>
								<div class="menu">
									<div class="item" data-value=1>1</div>
									<div class="item" data-value=1.5>1.5</div>
									<div class="item" data-value=2>2</div>
								</div>
							</div>
						</div>
					</div>

					<div id="TCP" name="TCP">
						<input placeholder="IP" id="sIp" name="sIp" type="text" />
						<input placeholder="PORT" id="port" name="port" type="text" />

					</div>
					<div id="DEVICES" name="DEVICES">
						<label>UNIT:</label>
						<input placeholder="UNIT" id="unit" name="unit" type="text" />
						<div class="ui accordion">
							<div class="active title">
								<i class="dropdown icon"></i>
								Ratio
							</div>
							<div class="content">
								<div class="ui blue button" id="Add" onclick="addRow('ratios');"> Add</div>
								<!--
								<div class="ui blue button" id="test" onclick="tableToJson('ratios');"> test</div>
								-->
								<table class="ui table segment" id="ratios">
									<tbody>
										<th>Name</th>
										<th>Value</th>
										<th>Remove</th>
									</tbody>
								</table>
								<p></p>
							</div>
						</div>
						<p></p>
						错误校验:
						<div class="ui dropdown selection ecm">
							<div class="text">Error Checking Methods</div>
							<i class="dropdown icon"></i>
							<div class="menu">
								<div class="item" data-value=0>NONE</div>
								<div class="item" data-value=1>CRC</div>
								<div class="item" data-value=2>LRC</div>
							</div>
						</div>
					</div>
				</form>
				<div class="ui clearing divider"></div>
				<div class="ui button" id="advance" name="advance">Advance</div>
			</div>
		</div>
	</div>
</div>


<div class="ui basic small modal">
	<div class="content">
		<div class="left">
			<p>Name</p>
			<div class="ui small input">
				<input id="ratio_lname" type="text"></input>
			</div>
		</div>
		<div class="right">
			<p>Value</p>
			<div class="ui small input">
				<input id="ratio_value" type="text"></input>
			</div>
		</div>
	</div>
	<div class="actions">
		<div class="two fluid ui buttons">
			<div class="ui negative labeled icon button">
				<i class="remove icon"></i>
				Cancel
			</div>
			<div class="ui positive right labeled icon button">
				Save
				<i class="checkmark icon"></i>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
var setting = {
	check: {
		enable: true,
		nocheckInherit: false,
	},
	view: {
		addHoverDom: addHoverDom,
		removeHoverDom: removeHoverDom,
		selectedMulti: false
	},
	edit: {
		enable: true,
		editNameSelectAll: true,
		showRemoveBtn: showRemoveBtn,
		showRenameBtn: showRenameBtn,
		/*
		showRemoveBtn: false,
		showRenameBtn: false
		*/
	},
	data: {
		keep: {
			parent:true,
			leaf:true
		},
		simpleData: {
			enable: true,
			idKey: "id",
			pIdKey: "pId",
			rootPId: 0
		}
	},
	callback: {
		beforeClick: beforeClick,
		onClick: onClick,
		beforeDrag: beforeDrag,
		beforeRemove: beforeRemove,
		beforeRename: beforeRename,
		onRemove: onRemove
	}
};

	function addRow() {
		$('.ui.modal')
			.modal('setting', {
					closable  : false,
					onDeny    : function(){
				},
				onApprove : function() {
					var lname = $('#ratio_lname').val();
					lname = lname.trim();
					var value = $("#ratio_value").val();
					if (lname.length == 0 || !value) {
						window.alert("Name/Value cannot be empty");
						return false;
					};
					var table = document.getElementById("ratios");
					var row = table.insertRow(1);
					var cell1 = row.insertCell(0);
					var cell2 = row.insertCell(1);
					cell1.innerHTML = lname;
					cell2.innerHTML = value;
					var cell3 = row.insertCell(2);
					var element3 = document.createElement("input");
					element3.type = "button";
					element3.name = "Remove";
					element3.value = "Remove";
					element3.setAttribute("onclick", "deleteRow(this)");
					cell3.appendChild(element3);
					return true;
				}
			})
			.modal('show')
			;
	};

function deleteRow(r) {
	var i=r.parentNode.parentNode.rowIndex;
	document.getElementById('ratios').deleteRow(i)
}

function tableToJson(table) {
	var myRows = [];
	var $headers = $("th");
	var $rows = $("tbody tr").each(function(index) {
				$cells = $(this).find("td");
				myRows[index] = {};
				$cells.each(function(cellIndex) {
					myRows[index][$($headers[cellIndex]).html()] = $(this).html();
					});    
				});

	// Let's put this in the object like you want and convert to JSON (Note: jQuery will also do this for you on the Ajax request)
	//var myObj = {};
	//myObj.myrows = myRows;
	//console.log(JSON.stringify(myRows));
	//console.log(JSON.stringify(myObj));
	return JSON.stringify(myRows);
}

function changeType(obj)
{
	var val = $("#modbus_modes").attr("value");
	if (val == 0 || val == 2) {
		$("#RTU").show();
		$("#TCP").hide();
	} else if (val == 1) {
		$("#RTU").hide();
		$("#TCP").show();
	} else if (val == 3) {
		$("#RTU").hide();
		$("#TCP").show();
	} else {
		$("#RTU").hide();
		$("#TCP").hide();
	}
	$("#DEVICES").hide(); 
	return val;
}

$("#DEVICES").hide(); 
$("#RTU").hide();
$("#TCP").hide();
var json_text = <?=json_text ?>;
//$(".ui.modes").dropdown("set value", json_text[0].config.mode);
$(".ui.dropdown").dropdown();
var tree_config;
//console.log(json_text)
if (json_text.length == 0) {
	tree_config = "";
} else {
	var tree = new Array();
	if (json_text.length == 1) {
		var treenode = new Object();
		treenode.id = json_text[0].tree.id;
		treenode.pId = json_text[0].tree.pId;
		treenode.name = json_text[0].tree.name;
		treenode.checked = json_text[0].tree.checked;
		treenode.isParent = true;
		tree[0] = treenode;
	} else {
		for (var i = 0; i < json_text.length; i++) {
			var treenode = new Object();
			treenode.id = json_text[i].tree.id;
			treenode.pId = json_text[i].tree.pId;
			treenode.name = json_text[i].tree.name;
			treenode.checked = json_text[i].tree.checked;
			tree[i] = treenode;
		}
	}
	tree_config = tree
}

var zNodes = tree_config;
var log, className = "dark";
function beforeClick(treeId, treeNode, clickFlag) {
	className = (className === "dark" ? "":"dark");
	showLog("[ "+getTime()+" beforeClick ]&nbsp;&nbsp;" + treeNode.name );
	return (treeNode.click != false);
}
function onClick(event, treeId, treeNode, clickFlag) {
	var zTree = $.fn.zTree.getZTreeObj("treeDemo");
	nodes = zTree.getSelectedNodes();
	treeNode = nodes[0];
	if (treeNode) {
		var id = treeNode.id;
		var pId = treeNode.pId;
		var name = treeNode.name;
	} else {
		alert("Please select one node at first ...");
		return;
	}
	var mode = json_text[0].config.mode ? json_text[0].config.mode : $(".ui.modes").dropdown("get value");
	$(".ui.modes")
		.data()
		.moduleDropdown
		.action
		.activate(undefined, mode)
		;
	//var val = changeType();
	if (id == 1 && pId ==0) {
		if (mode == "0" || mode == "2") {
			$("#RTU").show();
			$("#TCP").hide();
		} else if (mode == "1") {
			$("#RTU").hide();
			$("#TCP").show();
		} else if (mode == "3") {
			$("#RTU").hide();
			$("#TCP").show();
		} else {
			$("#RTU").hide();
			$("#TCP").hide();
		}
		$("#DEVICES").hide(); 
	} else {
		$("#RTU").hide();
		$("#TCP").hide();
		$("#DEVICES").show(); 
	}
	if (mode == "1" || mode == "3") {
		for (var i = 0; i < json_text.length; i++) {
			if (id == json_text[i].tree.id && pId == json_text[i].tree.pId && name == json_text[i].tree.name) {
				document.getElementById("port").value = json_text[i].config.port;
				document.getElementById("sIp").value = json_text[i].config.sIp;
				document.getElementById("unit").value = json_text[i].config.unit;
				var data = '<tbody> <th>Name</th> <th>Value</th> <th>Remove</th> </tbody>';
				$("#ratios").html(data);
				if (!treeNode.isParent) {
					for (var j = 1; j < json_text[i].config.ratio.length; j++) {
						var table = document.getElementById("ratios");
						var row = table.insertRow(1);
						var cell1 = row.insertCell(0);
						var cell2 = row.insertCell(1);
						cell1.innerHTML = json_text[i].config.ratio[j].Name;
						cell2.innerHTML = json_text[i].config.ratio[j].Value;
						var cell3 = row.insertCell(2);
						var element3 = document.createElement("input");
						element3.type = "button";
						element3.name = "Remove";
						element3.value = "Remove";
						element3.setAttribute("onclick", "deleteRow(this)");
						cell3.appendChild(element3);
					}
				}
				$(".ui.ecm")
					.data()
					.moduleDropdown
					.action
					.activate(undefined, json_text[i].config.ecm)
					;
				break;
			} else {
				document.getElementById("port").value = "";
				document.getElementById("sIp").value = "";
				document.getElementById("unit").value = "";
				$(".ui.ecm")
					.data()
					.moduleDropdown
					.action
					.activate(undefined, 0)
					;
			}
		}
	} else if (mode == "0" || mode == "2") {
		for (var i = 0; i < json_text.length; i++) {
			if (id == json_text[i].tree.id && pId == json_text[i].tree.pId && name == json_text[i].tree.name) {
				//$(".ui.sPort").dropdown("set value", json_text[i].config.sPort);
				$(".ui.sPort")
					.data()
					.moduleDropdown
					.action
					.activate(undefined, json_text[i].config.sPort)
					;
				$(".ui.baud")
					.data()
					.moduleDropdown
					.action
					.activate(undefined, json_text[i].config.baud)
					;
				$(".ui.data_bits")
					.data()
					.moduleDropdown
					.action
					.activate(undefined, json_text[i].config.dbs)
					;
				$(".ui.parity")
					.data()
					.moduleDropdown
					.action
					.activate(undefined, json_text[i].config.parity)
					;
				$(".ui.stop_bits")
					.data()
					.moduleDropdown
					.action
					.activate(undefined, json_text[i].config.sbs)
					;
				$(".ui.ecm")
					.data()
					.moduleDropdown
					.action
					.activate(undefined, json_text[i].config.ecm)
					;
				document.getElementById("unit").value = json_text[i].config.unit;
				var data = '<tbody> <th>Name</th> <th>Value</th> <th>Remove</th> </tbody>';
				$("#ratios").html(data);
				if (!treeNode.isParent) {
					for (var j = 1; j < json_text[i].config.ratio.length; j++) {
						var table = document.getElementById("ratios");
						var row = table.insertRow(1);
						var cell1 = row.insertCell(0);
						var cell2 = row.insertCell(1);
						cell1.innerHTML = json_text[i].config.ratio[j].Name;
						cell2.innerHTML = json_text[i].config.ratio[j].Value;
						var cell3 = row.insertCell(2);
						var element3 = document.createElement("input");
						element3.type = "button";
						element3.name = "Remove";
						element3.value = "Remove";
						element3.setAttribute("onclick", "deleteRow(this)");
						cell3.appendChild(element3);
					}
				}
				break;
			} else {
				$(".ui.sPort")
					.data()
					.moduleDropdown
					.action
					.activate(undefined, "0")
					;
				$(".ui.baud")
					.data()
					.moduleDropdown
					.action
					.activate(undefined, "9600")
					;
				$(".ui.data_bits")
					.data()
					.moduleDropdown
					.action
					.activate(undefined, "8")
					;
				$(".ui.parity")
					.data()
					.moduleDropdown
					.action
					.activate(undefined, "0")
					;
				$(".ui.stop_bits")
					.data()
					.moduleDropdown
					.action
					.activate(undefined, "1")
					;
				$(".ui.ecm")
					.data()
					.moduleDropdown
					.action
					.activate(undefined, "0")
					;
				document.getElementById("unit").value = "";
			}
		}
	} else {
		alert("Please select modbus transmission method");
	}
}		
function beforeDrag(treeId, treeNodes) {
	return false;
}
function beforeRemove(treeId, treeNode) {
	className = (className === "dark" ? "":"dark");
	showLog("[ "+getTime()+" beforeRemove ]&nbsp;&nbsp;&nbsp;&nbsp; " + treeNode.name);
	var isTrue = confirm("Confirm delete node '" + treeNode.name + "' it?");
	if (isTrue) {
		var zTree = $.fn.zTree.getZTreeObj("treeDemo");
		nodes = zTree.getSelectedNodes();
		treeNode = nodes[0];
		var id = treeNode.id;
		var pId = treeNode.pId;
		var name = treeNode.name;
		for (var i = 0; i < json_text.length; i++) {
			if (id == json_text[i].tree.id && pId == json_text[i].tree.pId && name == json_text[i].tree.name) {
				//console.log(JSON.stringify(json_text));
				$.post("/apps/<?=app.appname?>/remove", {id:id, pId:pId, name:name, json_text:(JSON.stringify(json_text)), filename:"<?=app.appname?>"}, function(data){
							});
			}
		}
		var callbackFlag = $("#callbackTrigger").attr("checked");
		zTree.removeNode(treeNode, callbackFlag);
		location.reload();
	}

	return isTrue;
}
function onRemove(e, treeId, treeNode) {
	showLog("[ "+getTime()+" onRemove ]&nbsp;&nbsp;&nbsp;&nbsp; " + treeNode.name);
}
function beforeRename(treeId, treeNode, newName) {
	if (newName.length == 0) {
		alert("Node name can not be empty.");
		var zTree = $.fn.zTree.getZTreeObj("treeDemo");
		setTimeout(function(){zTree.editName(treeNode)}, 10);
		return false;
	}
	return true;
}
function showLog(str) {
	if (!log) log = $("#log");
	log.append("<li class='"+className+"'>"+str+"</li>");
	if(log.children("li").length > 8) {
		log.get(0).removeChild(log.children("li")[0]);
	}
}
function getTime() {
	var now= new Date(),
		h=now.getHours(),
		m=now.getMinutes(),
		s=now.getSeconds(),
		ms=now.getMilliseconds();
	return (h+":"+m+":"+s+ " " +ms);
}

var newCount = 1;
function addHoverDom(treeId, treeNode) {
	var sObj = $("#" + treeNode.tId + "_span");
	if (treeNode.editNameFlag || $("#addBtn_"+treeNode.tId).length>0) return;
	var addStr = "<span class='button add' id='addBtn_" + treeNode.tId
		+ "' title='add node' onfocus='this.blur();'></span>";
	sObj.after(addStr);
	var btn = $("#addBtn_"+treeNode.tId);
	if (btn) btn.bind("click", function(){
		//var zTree = $.fn.zTree.getZTreeObj("treeDemo");
		//zTree.addNodes(treeNode, {id:(100 + newCount), pId:treeNode.id, name:"new node" + (newCount++)});
		var zTree = $.fn.zTree.getZTreeObj("treeDemo"),
		nodes = zTree.getSelectedNodes();
		treeNode = nodes[0];
		isParent = treeNode.isParent;
		var max = 0;
		if (json_text.length > 1) {
			max = parseInt(json_text[0].tree.id);
			for (var i = 0; i < json_text.length; i++) {
			if (parseInt(json_text[i].tree.id) > max) {
				max = parseInt(json_text[i].tree.id);
			}
		}
			treeNode = zTree.addNodes(treeNode, {id:(max + newCount ), pId:treeNode.id, name:"new node" + (newCount++), checked:true});
		} else {
			treeNode = zTree.addNodes(treeNode, {id:(treeNode.id * 10 + newCount ), pId:treeNode.id, name:"new node" + (newCount++), checked:true});
		}
		return false;
	});
};
function showRemoveBtn(treeId, treeNode) {
	return !treeNode.isParent;
}
function showRenameBtn(treeId, treeNode) {
	return !treeNode.isParent;
}
function removeHoverDom(treeId, treeNode) {
	$("#addBtn_"+treeNode.tId).unbind().remove();
};

function pSave(){
	var zTree = $.fn.zTree.getZTreeObj("treeDemo");
	nodes = zTree.getSelectedNodes();
	treeNode = nodes[0];
	if (treeNode) {
		var id = treeNode.id;
		var pId = treeNode.pId;
		var name = treeNode.name;
		var checked = treeNode.checked;
	} else {
		alert("Please select one node at first...");
		return;
	}
	var unit = document.getElementById("unit").value;
	var val = changeType();
	if (val == "0" || val == "2") {
		var sPort = $(".ui.sPort").dropdown("get value");
		var baud = $(".ui.baud").dropdown("get value") ? $(".ui.baud").dropdown("get value") : 9600;
		var dbs = $(".ui.data_bits").dropdown("get value") ? $(".ui.data_bits").dropdown("get value") : 8;
		var parity = $(".ui.parity").dropdown("get value") ? $(".ui.parity").dropdown("get value") : 0;
		var sbs = $(".ui.stop_bits").dropdown("get value") ? $(".ui.stop_bits").dropdown("get value") : 1;
		if (!treeNode.isParent) {
			var ecm = $(".ui.ecm").dropdown("get value");
			var ratio = tableToJson('ratios');
		} else {
			ecm = "";
			ratio = "";
		}
		//console.log("sPort=", sPort, "baud=", baud, "dbs=", dbs, "parity=", parity, "sbs=", sbs, "ecm=", ecm);
		//alert($(".ui.parity").dropdown("get value"));
		$.post("", {id:id, pId:pId, name:name, checked:checked, mode:val, sPort:sPort, baud:baud, dbs:dbs, parity:parity, sbs:sbs, ecm:ecm, unit:unit, ratio:ratio}, function(data, status){
					if (status) {
						window.location.reload();
					}
					});
	} else if (val == "1" || val == "3") {
		var port = document.getElementById("port").value;
		var sIp = document.getElementById("sIp").value;
		if (!treeNode.isParent) {
		var ecm = $(".ui.ecm").dropdown("get value");
		var ratio = tableToJson('ratios');
		} else {
			ecm = "";
			ratio = "";
		}
		$.post("", {id:id, pId:pId, name:name, checked:checked, mode:val, port:port, sIp:sIp, unit:unit, ecm:ecm, ratio:ratio}, function(data, status){
					if (status) {
						window.location.reload();
					}
					});
	} else {
		alert("error");
		return;
	}
}

function advance() {
	var zTree = $.fn.zTree.getZTreeObj("treeDemo");
	nodes = zTree.getSelectedNodes();
	treeNode = nodes[0];
	if (treeNode && parseInt(treeNode.id) != 1 && parseInt(treeNode.pId) != 0) {
		var id = treeNode.id;
		var pId = treeNode.pId;
		var name = treeNode.name;
	} else {
		alert("Please select one child node at first...");
		return;
	}
	window.location.href="/apps/<?=app.appname?>/" + "tree?name=" + treeNode.name;
}

function packet_sequencing() {
	window.location.href="/apps/<?=app.appname?>/packet_sequencing";
}

$(document).ready(function(){
	$.fn.zTree.init($("#treeDemo"), setting, zNodes);
	$("#pSave").bind("click", pSave);
	$("#advance").bind("click", advance);
	$("#packet").bind("click", packet_sequencing);
	var treeObj = $.fn.zTree.getZTreeObj("treeDemo"); 
	treeObj.expandAll(true); 
	var nodes=treeObj.getNodes();
	nodes[0].nocheck = true;
	treeObj.updateNode(nodes[0]);
});

</script>
