<!DOCTYPE html>
<HTML>
<HEAD>
	<? extend'layout.html'?>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" href="/static/library/ztree/css/zTreeStyle/zTreeStyle.css" type="text/css"/>
	<link href="/static/library/appendgrid/css/jquery.appendGrid-1.3.5.css" rel="stylesheet"/>
	<link rel="stylesheet" href="/static/library/jqueryui/jquery-ui.min.css" type="text/css"/>
	<script src="/static/library/jqueryui/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/library/ztree/js/jquery.ztree.all-3.5.min.js"></script>
	<script src="/static/library/appendgrid/js/jquery.appendGrid-1.3.5.js"></script>

<style type="text/css">
	.ztree li span.button.add {margin-left:2px; margin-right: -1px; background-position:-144px 0; vertical-align:top; *vertical-align:middle}
</style>
<div class="tab segment">
	<div class="container">
		<div class="introduction">
			<h2 class="ui dividing header"> <?=app.appname ?> - <?=name ?> </h2>
		</div>
	</div>
</div>

<div class="main container">
	<div class="ui two column relaxed grid basic segment">
		<div class="three wide column">
			<div class="ui segment">
				<div id="treeDemo" class="ztree"></div>
			</div>
		</div>
		<div class="thirteen wide column">
			<div class="ui button" name="pSave" id="pSave">Save</div>
			<div class="ui clearing divider"></div>
			<p>
			周期:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input placeholder="cycle" id="cycle" name="cycle" type="text" />
			单位:<select id="time_unit" name="time_unit">
				<option value="1">ms(毫秒)</option>
				<option value="2">s(秒)</option>
				<option value="3">min(分)</option>
				<option value="4">h(时)</option>
			</select></p>
			<p>功能码:&nbsp;&nbsp;&nbsp;
			<select id="func" name="func">
				<option value="1">0x01(Read Coil Status)</option>
				<option value="2">0x02(Read Input Status)</option>
				<option value="3">0x03(Read Holding Registers)</option>
				<option value="4">0x04(Read Input Registers)</option>
				<option value="5">0x05(Force Single Coil)</option>
				<option value="6">0x06(Preset Single Register)</option>
				<option value="15">0x0F(Force Multiple Coils)</option>
				<option value="16">0x10(Preset Multiple Regs)</option>
			</select>
			</p>
			<p>起始地址:&nbsp;<input id="addr" name="addr"/></p>
			<p>数量: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="len" name="len" /> </p>
			<div class="ui clearing divider"></div>
			<form id="frmMain" name="frmMain" action="/Demo" method="post">
				<div style="text-align: center;">
					<div class="viewable main-body">
						<script id="jsSource" type="text/javascript">
							var calc = new Array()
							calc[0] = "return bit(1)" /*bit*/
							calc[1] = "return byte(1) * 256 + byte(2)" /*byte*/
							calc[2] = "return byte(2) * 256 + byte(1)" /*byte*/
							calc[3] = "val = byte(1) * 256 + byte(2) val = ((val + 32768) % 65536) - 32768 return val" /*byte*/
							calc[4] = "val = byte(2) * 256 + byte(1) val = ((val + 32768) % 65536) - 32768 return val" /*byte*/
							calc[5] = "val = byte(1) val = ((val + 128) % 256) - 128 return val" /*byte*/
							calc[6] = "return byte(1)" /*byte*/
							calc[7] = "val = byte(2) val =  ((val + 128) % 256) - 128 return val" /*byte*/
							calc[8] = "return byte(2)" /*byte*/
							calc[9] = "val1 = byte(1) * 256 + byte(2) val2 = byte(3) * 256 + byte(4) val = val1 * 65536 + val2 return val"
							calc[10] = "val1 = byte(1) * 256 + byte(2) val2 = byte(3) * 256 + byte(4) val = val1 * 65536 + val2 val = ((val + 1073741824) % 2147483648) - 1073741824 return val" 
							calc[11] = "val1 = byte(2) * 256 + byte(1) val2 = byte(4) * 256 + byte(3) val = val2 * 65536 + val1 return val"
							calc[12] = "val1 = byte(2) * 256 + byte(1) val2 = byte(4) * 256 + byte(3) val = val2 * 65536 + val1 val = ((val + 1073741824) % 2147483648) - 1073741824 return val" 
							calc[13] = "val1 = byte(1) * 256 + byte(2) val2 = byte(3) * 256 + byte(4) val = val2 * 65536 + val1  return val" 
							calc[14] = "val1 = byte(1) * 256 + byte(2) val2 = byte(3) * 256 + byte(4) val = val2 * 65536 + val1  val = ((val + 1073741824) % 2147483648) - 1073741824 return val" 
							calc[15] = "val1 = byte(2) * 256 + byte(1) val2 = byte(4) * 256 + byte(3) val = val1 * 65536 + val2 return val" 
							calc[16] = "val1 = byte(2) * 256 + byte(1) val2 = byte(4) * 256 + byte(3) val = val1 * 65536 + val2 val = ((val + 1073741824) % 2147483648) - 1073741824 return val" 
							$(function () {
								// Initialize appendGrid
								var MyGrid = $('#tblAppendGrid').appendGrid({
								caption: 'values',
								initRows: 1,
								columns: [
								{ name: 'Name', display: 'Name', type: 'text', ctrlAttr: { maxlength: 100 }},
								{ name: 'Description', display: 'Description', type: 'text', value: " " },
								{ name: 'Address', display: 'Offset', type: 'text', ctrlAttr: { maxlength: 100 }},
								{ name: 'Data', display: 'Data', type: 'text', ctrlAttr: { maxlength: 100 }, value: 0 },
								{ name: 'Unit', display: 'Unit', type: 'text', ctrlAttr: { maxlength: 100 }, value: " " },
								{ name: 'Multiple', display: 'Multiple', type: 'text', ctrlAttr: { maxlength: 100 }, value: "1.000000" },
								{ name: 'CTPT', display: 'CT&PT', type: 'select', ctrlOptions: { 1: 'NONE', 2: '* CT', 3: '* PT', 4: '* CT * PT', 0: 'Others'} },
								{ name: 'Endianness', display: 'Endianness', type: 'select', ctrlOptions: {0: 'Others', 1: 'bit', 2: 'unsigned word (high to low)', 3: 'unsigned word(low to high)', 4: 'signed word(high to low)', 5: 'signed word(low to high)', 6: 'signed byte(high)', 7: 'unsigned byte(low)', 8: 'signed byte(high)', 9: 'unsigned byte(low)', 10: 'unsigend dword(high to low, high first)', 11: 'signed dword(high to low, high first)', 12: 'unsigned dword(low to high, high first)', 13: 'signed dword(low to high, high first)', 14: 'unsigned dword(high to low, low first)', 15: 'signed dword(high to low, low first)', 16: 'unsigned dword(low to high, low first)', 17: 'signed dword(low to high, low first)'}, ctrlCss: { width: '100px'},onChange: function(evt, rowIndex) {
		var endianness = $('#tblAppendGrid').appendGrid('getCtrlValue', 'Endianness', rowIndex);
		if (endianness != 0)
			$('#tblAppendGrid').appendGrid('setCtrlValue', 'Calc', rowIndex, calc[endianness - 1]);
		else
			$('#tblAppendGrid').appendGrid('setCtrlValue', 'Calc', rowIndex, "");
	}},
								{ name: 'Calc', display: 'Calc', type: 'text', ctrlAttr: { maxlength: 100 }, value: " "},
]
					});

});
					</script>
					<div id="divSource">
						<table id="tblAppendGrid">
						</table>
					</div>
		</form>
	</div>
</div>

	<SCRIPT type="text/javascript">
		<!--
		var setting = {
			view: {
				addHoverDom: addHoverDom,
				removeHoverDom: removeHoverDom,
				selectedMulti: false
			},
			edit: {
				enable: true,
				editNameSelectAll: true,
				showRemoveBtn: showRemoveBtn,
				showRenameBtn: showRenameBtn,
				/*
				showRemoveBtn: false,
				showRenameBtn: false
				*/
			},
			data: {
				keep: {
					parent:true,
					leaf:true
				},
				simpleData: {
					enable: true,
					idKey: "id",
					pIdKey: "pId",
					rootPId: 0
				}
			},
			callback: {
				beforeClick: beforeClick,
				onClick: onClick,
				beforeDrag: beforeDrag,
				beforeRemove: beforeRemove,
				beforeRename: beforeRename,
				onRemove: onRemove
			}
		};

		var json_text = <?=json_text ?>;
		var tree_config;
		if (json_text.length == 0) {
			tree_config = "";
		} else {
			var tree = new Array();
			if (json_text.length == 1) {
					var treenode = new Object();
					treenode.id = json_text[0].tree.id;
					treenode.pId = json_text[0].tree.pId;
					treenode.name = json_text[0].tree.name;
					treenode.isParent = true;
					tree[0] = treenode;
			} else {
				for (var i = 0; i < json_text.length; i++) {
					var treenode = new Object();
					treenode.id = json_text[i].tree.id;
					treenode.pId = json_text[i].tree.pId;
					treenode.name = json_text[i].tree.name;
					tree[i] = treenode;
				}
			}
			tree_config = tree
		}

		var zNodes = tree_config;
		var log, className = "dark";
		function beforeClick(treeId, treeNode, clickFlag) {
			className = (className === "dark" ? "":"dark");
			showLog("[ "+getTime()+" beforeClick ]&nbsp;&nbsp;" + treeNode.name );
			return (treeNode.click != false);
		}
		function onClick(event, treeId, treeNode, clickFlag) {
			var zTree = $.fn.zTree.getZTreeObj("treeDemo");
			nodes = zTree.getSelectedNodes();
			treeNode = nodes[0];
			if (treeNode) {
				var id = treeNode.id;
				var pId = treeNode.pId;
				var name = treeNode.name;
			} else {
				alert("Please select one node at first ...");
				return;
			}
			if (id == parseInt(1) && pId == parseInt(0)) {
				$("#cycle").attr("disabled",true); 
				$("#time_unit").attr("disabled",true); 
				$("#func").attr("disabled",true); 
				$("#addr").attr("disabled",true); 
				$("#len").attr("disabled",true); 
			} else {
				$("#cycle").attr("disabled",false); 
				$("#time_unit").attr("disabled",false); 
				$("#func").attr("disabled",false); 
				$("#addr").attr("disabled",false); 
				$("#len").attr("disabled",false); 
			}
			var vals;
			for (var i = 0; i < json_text.length; i++) {
				if (id == json_text[i].tree.id && pId == json_text[i].tree.pId && name == json_text[i].tree.name) {
					document.getElementById("cycle").value = json_text[i].request.cycle;
					document.getElementById("time_unit").value = json_text[i].request.time_unit;
					document.getElementById("func").value = json_text[i].request.func;
					document.getElementById("addr").value = json_text[i].request.addr;
					document.getElementById("len").value = json_text[i].request.len;
					//alert(JSON.stringify(json_text[i].vals));
					vals = json_text[i].vals;
					break;
				} else {
					document.getElementById("cycle").value = "0";
					document.getElementById("time_unit").value = "";
					document.getElementById("func").value = "";
					document.getElementById("addr").value = "";
					document.getElementById("len").value = "0";
				}
			}
			$('#tblAppendGrid').appendGrid('load', vals);
		}		
		function beforeDrag(treeId, treeNodes) {
			return false;
		}
		function beforeRemove(treeId, treeNode) {
			className = (className === "dark" ? "":"dark");
			showLog("[ "+getTime()+" beforeRemove ]&nbsp;&nbsp;&nbsp;&nbsp; " + treeNode.name);
			var isTrue = confirm("Confirm delete node '" + treeNode.name + "' it?");
			if (isTrue) {
				var zTree = $.fn.zTree.getZTreeObj("treeDemo");
				nodes = zTree.getSelectedNodes();
				treeNode = nodes[0];
				var id = treeNode.id;
				var pId = treeNode.pId;
				var name = treeNode.name;
				for (var i = 0; i < json_text.length; i++) {
					if (id == json_text[i].tree.id && pId == json_text[i].tree.pId && name == json_text[i].tree.name) {
						//console.log(JSON.stringify(json_text));
						$.post("remove", {id:id, pId:pId, name:name, json_text:(JSON.stringify(json_text)), filename:json_text[0].tree.name}, function(data){
									});
					}
				}
				var callbackFlag = $("#callbackTrigger").attr("checked");
				zTree.removeNode(treeNode, callbackFlag);
				location.reload();
			}

			return isTrue;
		}

		function onRemove(e, treeId, treeNode) {
			showLog("[ "+getTime()+" onRemove ]&nbsp;&nbsp;&nbsp;&nbsp; " + treeNode.name);
		}
		function beforeRename(treeId, treeNode, newName) {
			if (newName.length == 0) {
				alert("Node name can not be empty.");
				var zTree = $.fn.zTree.getZTreeObj("treeDemo");
				setTimeout(function(){zTree.editName(treeNode)}, 10);
				return false;
			}
			return true;
		}
		function showLog(str) {
			if (!log) log = $("#log");
			log.append("<li class='"+className+"'>"+str+"</li>");
			if(log.children("li").length > 8) {
				log.get(0).removeChild(log.children("li")[0]);
			}
		}
		function getTime() {
			var now= new Date(),
			h=now.getHours(),
			m=now.getMinutes(),
			s=now.getSeconds(),
			ms=now.getMilliseconds();
			return (h+":"+m+":"+s+ " " +ms);
		}
		
		var newCount = 1;
		function addHoverDom(treeId, treeNode) {
			var sObj = $("#" + treeNode.tId + "_span");
			if (treeNode.editNameFlag || $("#addBtn_"+treeNode.tId).length>0) return;
			var addStr = "<span class='button add' id='addBtn_" + treeNode.tId
				+ "' title='add node' onfocus='this.blur();'></span>";
			sObj.after(addStr);
			var btn = $("#addBtn_"+treeNode.tId);
			if (btn) btn.bind("click", function(){
				var zTree = $.fn.zTree.getZTreeObj("treeDemo"),
				nodes = zTree.getSelectedNodes();
				treeNode = nodes[0];
				isParent = treeNode.isParent;
				var max = 0;
				if (json_text.length > 1) {
					max = parseInt(json_text[0].tree.id);
					for (var i = 0; i < json_text.length; i++) {
						if (parseInt(json_text[i].tree.id) > max) {
						max = parseInt(json_text[i].tree.id);
						}
					}
					treeNode = zTree.addNodes(treeNode, {id:(max + newCount ), pId:treeNode.id, name:"new node" + (newCount++)});
				} else {
					treeNode = zTree.addNodes(treeNode, {id:(treeNode.id * 10 + newCount ), pId:treeNode.id, name:"new node" + (newCount++)});
				}
				return false;
			});
		};
		function showRemoveBtn(treeId, treeNode) {
			return !treeNode.isParent;
		}
		function showRenameBtn(treeId, treeNode) {
			return !treeNode.isParent;
		}
		function removeHoverDom(treeId, treeNode) {
			$("#addBtn_"+treeNode.tId).unbind().remove();
		};

		function pSave(){
			var zTree = $.fn.zTree.getZTreeObj("treeDemo");
			nodes = zTree.getSelectedNodes();
			treeNode = nodes[0];
			if (treeNode) {
				var id = treeNode.id;
				var pId = treeNode.pId;
				var name = treeNode.name;
			} else {
				alert("Please select one node at first ...");
				return;
			}
			var cycle = document.getElementById("cycle").value;
			var time_unit = document.getElementById("time_unit").value;
			var func = document.getElementById("func").value;
			var addr = document.getElementById("addr").value;
			var len = document.getElementById("len").value;
			var str = $(document.forms[0]).serialize();
			console.log(str);
			$.post("tree", {id:id, pId:pId, name:name, cycle:cycle, time_unit:time_unit, func:func, addr:addr, len:len, values:str, filename:json_text[0].tree.name}, function(data, status){
						if (status) {
							if (parseInt(pId) != 0)
								window.location.reload();
						}
						});
		}
		
		$(document).ready(function(){
			$.fn.zTree.init($("#treeDemo"), setting, zNodes);
			$("#pSave").bind("click", pSave);
			var treeObj = $.fn.zTree.getZTreeObj("treeDemo"); 
			treeObj.expandAll(true); 
		});
		//-->
	</SCRIPT>
</HEAD>

</HTML>
