<? extend 'layout.html' ?>
<div class="segment">
	<div class="container">
		<div class="introduction">
			<h2 class="ui diving header"><? =appname ?> </h2>
			<? =appname ?> 
		</div>
	</div>
</div>
<div class="main container">
	<div class="ui icon buttons">
		<div type="hidden" class="ui button" appname="<?=appname?>" id="btn_start">
			<i class="teal play icon"></i> Start
		</div>
		<div type="hidden" class="ui button" appname="<?=appname?>" id="btn_stop">
			<i class="red stop icon"></i> Stop
		</div>
		<a class="ui button" href="/apps/<?=appname?>">
			<i class="teal settings icon"></i> Settings
		</a>
		<div class="or"></div>
		<div class="ui button" appname="<?=appname?>" id="btn_remove">
			<i class="orange trash icon"></i> Remove
		</div>
	</div>
	<div id="status"> </div>

	<? --[[include('widget/events.html', {title="Events"}) ]]--?>

	<div class="ui basic feed segment">
		<h3 class="ui dividing header">Logs</h3>
		<div id="logs_place">
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		newtimer = setInterval( function () {
			query_events();
			query_status();
			query_logs();
		}, 2000 );

		var status = $('#status');
		var btnstart = $('#btn_start');
		var btnstop = $('#btn_stop');
		var btnremove = $('#btn_remove');

		$("#btn_stop").click(function() {
			var appname = btnstop.attr("appname");
			$.post("/app/ctrl", {action:"close",app:appname}, function(data) {
				status.text(data);
			})
			.done(function() {
				//alert("Application Started!!");
			})
			.fail(function() {
				alert("Failed to send stop request!!");
			});
			btnstop.removeClass("active");
		});

		$("#btn_start").click(function() {
			var appname = btnstart.attr("appname");
			$.post("/app/ctrl", {action:"start",app:appname}, function(data) {
				status.text(data);
			})
			.done(function() {
				//alert("Application Started!!");
			})
			.fail(function() {
				alert("Failed to send start request!!");
			});
			btnstart.removeClass("active");
		});

		$("#btn_remove").click(function() {
			var appname = btnremove.attr("appname");
			$.post("/system/remove", {app:appname}, function(data) {
				status.text(data);
			})
			.done(function() {
			})
			.fail(function() {
				alert("Failed to send remove request!!");
			});
			btnremove.removeClass("active");
		});

		query_status();
		query_events();
		query_logs();
	});
	function query_status() {
		var btnstart = $('#btn_start');
		var btnstop = $('#btn_stop');
		var appname = btnstart.attr("appname");
		$.get("/app/query", { type:'events', from:'web', app:appname}, function(data){
			if (typeof(data) != "object") {
				var status = $('#status');
				status.text(data);
			} else {
				var s = data[appname];
				if ( s && s.run)  {
					btnstart.hide();
					btnstop.show();
				} else {
					btnstart.show();
					btnstop.hide();
				}
			};
		})
		.done(function() {
			//alert("Data Saved successfully!!");
		})
		.fail(function() {
			//alert("Failed to save content to file!!");
		});
	};
	function query_events() {
		var btnstart = $('#btn_start');
		var appname = btnstart.attr("appname");
		$.get("/app/events", { type:'events', from:'web', app:appname}, function(data){
			var jdata = data;
			if (typeof(jdata) != "object") {
				jdata = JSON.parse(data);
			}
			for (var i in jdata)
			{
				var log = jdata[i];

				var unixTimestamp = new Date(log.timestamp);
				var commonTime = unixTimestamp.toLocaleString() + ' ' +  (log.timestamp % 1000);
				
			};
		})
		.done(function() {
			//alert("Data Saved successfully!!");
		})
		.fail(function() {
			//alert("Failed to save content to file!!");
		});

	};
	function query_logs() {
		var btnstart = $('#btn_start');
		var appname = btnstart.attr("appname");
		$.get("/log/query", { type:'logs', from:'web', src:appname, clean : false, limit : 10}, function(data){
			var text = '';
			for (var i in data)
			{
				var log = data[i];
				var unixTimestamp = new Date(log.timestamp);
				var commonTime = unixTimestamp.toLocaleString() + ' ' +  (log.timestamp % 1000);
				var msg = '<div class="event">'
							+ '<div class="content">'
							+ '<div class="date">' 
							+ commonTime  
							+ '</div> '
							+ '<div class="summary">'
							+log.level 
							+ '</div>' 
							+ '<div class="extra text">' 
							+ log.content.replace(/\"/g,'&quot;') 
							+ '</div>'
							+ '</div>'
							+ '</div>';
				text = msg + text;
			};
			var logs_place = $('#logs_place');
			logs_place.html(text);
		})
		.done(function() {
			//alert("Data Saved successfully!!");
		})
		.fail(function() {
			//alert("Failed to save content to file!!");
		});
	};
</script>
