
<? extend 'layout.html' ?>
<? include('app/top.html') ?>
<div class="main container">

	<h2 class="ui dividing header">Information:</h2>

	<? if info then ?>
	<div class="ui warning message">
		<i class="close icon"></i>
		<div class="header">
			Warning!!
		</div>
		<?=info ?>
	</div>
	<? end ?>
	<form action="" method="post" enctype="multipart/form-data">

		<div class="ui labeled input">
			<input placeholder="App name..." name="appname" type="text">
			<div class="ui corner label">
				<i class="asterisk icon"></i>
			</div>
		</div>

		<div class="ui labeled input">
			<input placeholder="Version..." name="version" type="text">
			<div class="ui corner label">
				<i class="asterisk icon"></i>
			</div>
		</div>

		<div class="ui selection labeled dropdown">
			<input name="apptype" type="hidden">
			<div class="default text">...</div>
			<i class="dropdown icon"></i>
			<div class="menu">
				<div class="item" data-value="1">IO</div>
				<div class="item" data-value="2">App</div>
			</div>
		</div>

		<label>Category:</label>
		<div class="ui selection dropdown">
			<input name="category" type="hidden">
			<div class="default text">Industial</div>
			<i class="dropdown icon"></i>
			<div class="menu">
				<div class="item" data-value="1">Industrial</div>
				<div class="item" data-value="2">Home Automation</div>
			</div>
		</div>

		<div class="ui fluid labeled input">
			<input placeholder="Description..." name="desc" type="text">
			<div class="ui corner label">
				<i class="asterisk icon"></i>
			</div>
		</div>

		</br>
		<label>Package:</label>
		<input type="file" name="file">
		<input type="submit" value="Upload">
	</form>

	<div class="ui progress">
		<div class="bar"></div>
	</div>

	<div id="status"></div>

	<script>
		(function() {
			var status = $('#status');

			$('form').ajaxForm({
				beforeSend: function() {
					status.empty();
				},
				uploadProgress: function(event, position, total, percentComplete) {
				},
				success: function() {
				},
				complete: function(xhr) {
					status.html(xhr.responseText);
				}
			}); 
		})();       
	</script>
</div>
