<? extend 'layout.html' ?>
<script src="/static/js/table.js"></script>
<meta http-equiv="Content-Type" content="text/html;charset=Unicode"/>
<div class="tab segment">
	<div class="container">
		<div class="introduction">
			<h2 class="ui dividing header"> <?=_("Temperature Controller")?> - <?=app.appname ?> </h2>
		</div>
	</div>
</div>

<div class="main container">
	<div class="two column stackable ui grid">
		<div class="column">
			
			<!--	<div id="panel"></div>  -->
			</div>
		</div>
		<div class="column">
			<div class="ui segment">
				<div class="ui top attached label"><b><?=_('Test')?></b></div>
					<form class="ui form" method="post" action="/apps/<?=app.appname?>/mod">
						<input placeholder="Telephone number" type="text" name="user_mod_num" id="user_mod_num">

						<input placeholder="Message" type="text" name="user_mod_mes" id="user_mod_mes">
						<input class="ui green button" type="submit" onclick="set_panel()" value="<?=_('Save')?>"/>
					</form>
				
				</div>
			</div>
		</div>
	</div>	
</div>


<script>
	(function() {
	 
	 newtimer = setInterval( function () {
		query_result();
//		gprs_state();
		console.log("aaaaaaaaaaa");
		}, 1000 );

	 setInterval( function(){
			 gprs_state();
			 },10000);
		var status = $('#status');
		$('form').ajaxForm({
			beforeSend: function() {
				status.text(' ');
			},
			success: function() {
			},
			complete: function(xhr) {
				status.text(xhr.responseText);
			}
		}); 
		query_panel();
	})();

	function query_panel() {
		$.get("/apps/<?=app.appname?>/mod", {}, function(data) {
				var m=data.split("*#!");
		
				var panel_num = $('#user_mod_num');
				panel_num.val(m[1]);

				var panel_mes = $('#user_mod_mes');
				panel_mes.val(m[2]);

				})
		.done(function() {
				})
		.fail(function() {
				alert("Failed to send save mod request!!");
				});
	};

function set_panel() {
	var mod_num = $('#user_mod_num');
	var mod_mes = $('#user_mod_mes');
//	var val = mod.val();
//	var panel = $('#panel');
//	panel.html(val);

	setTimeout('query_panel()', 3000);
	alert("Save")
	};
function send_command(cmd) {
		var status = $('#status');
		$.post("", {command:cmd}, function(data) {
				status.text(data);
				})
		.done(function() {
				//alert("Application Started!!");
				})
		.fail(function() {
				alert("Failed to send command request!!");
				});
	};
/*
function myrefresh()
{
//		   window.location.reload();
}
*/
//setTimeout('myrefresh()',10000); //


</script>
