@CHARSET "UTF-8";
/*列表三个软件的样式*/
.x_payTypeCat,.x_payTypeCat2{background:url("/images/app_merge_ext.png") no-repeat;width:205px;height:38px;float:left;margin-top: 20px;overflow:hidden;}
.x_Cat_0{background-position: -200px -5px;}
.x_Cat_1{background-position: -200px -43px;}
.x_Cat_2{background-position: -200px -81px;}
.x_Cat2_0{background-position: 0 -454px;}
.x_Cat2_1{background-position: 0 -492px;}
.x_payTypeCat span{width:68px;height:38px;float: left;cursor: pointer;}
.x_payTypeCat2 span{width:86px;height:38px;float: left;cursor: pointer;}

.soft_ware{margin:auto;overflow: hidden;}
.categoryHead{height:80px;position: relative;line-height:80px;display: inline-block;}
.categoryHead .x_selectCat{color:#1DAEED;padding-right:8px;cursor:pointer;}

.soft_ware .appTopSep{margin-left:20px;width:800px;border-top:1px solid #dfdfdf;height:0px;clear:both;}

#h_software{padding:40px 0 0 20px;_padding:20px 0 0 20px;clear:both;overflow:hidden;margin-bottom:-30px;*margin-bottom:40px;_margin-bottom:10px;}
#h_software li{padding-left:20px;float:left;margin-bottom:70px;_margin-bottom:35px;height:81px;width:249px;overflow:hidden;}
.left{width:80px;height:80px;display:block;cursor:pointer;float:left;padding-right:20px;}
.left img{width:80px;height:80px;border-radius:8px;}
.right{width:124px;height:80px;display:block;float:left;}
.right div{overflow:hidden;white-space:nowrap;font-size:14px;height: 15px;line-height: 14px;}
.right div.name{color:#acacac;margin-top:5px;}
.right div.starcls{width:100px;margin:4px 0 9px 0;height:11px;line-height:11px;}
div.feebtn{font-size:12px;text-align: center;width: 57px;height: 20px;line-height: 20px;}
#symPager{float: right;clear: both;}

.searchHeader {background: url("../../images/default/c_top_yin.gif") no-repeat scroll 0 0 transparent;font-size: 14px; padding-left:20px;height:45px;}

