@charset "utf-8";
html{height:1%;}
body {background:url(/images/bg.jpg) 0 0 repeat-x #ffffff;font-family:"微软雅黑","Microsoft Yahei",Arial,Helvetica,sans-serif,"宋体";font-size:14px;color:#515151;margin:0; padding:0; }
body input,body textarea{font-family:"微软雅黑","Microsoft Yahei",Arial,Helvetica,sans-serif,"宋体";}
div, h1, h2, h3, h4, p, form, label, input, textarea, img, span,dl,ul,li{margin: 0;padding: 0;border: 0;list-style: none;}
a{color: #515151; text-decoration:none;}
a:hover {color: #000; text-decoration:none;}
a:focus {outline:none;-moz-outline:none;}
.blank5{clear:both;height:5px;overflow:hidden;}
.blank10{clear:both;height:10px;overflow:hidden;}
.blank20{clear:both;height:20px;overflow:hidden;}
.blank15{clear:both;height:15px;overflow:hidden;}
.blank5{clear:both;height:5px;overflow:hidden;}
.blank24{clear:both;height:24px;overflow:hidden;}
.blank28{clear:both;height:28px;overflow:hidden;}
.blank32{clear:both;height:32px;overflow:hidden;}
.blank36{clear:both;height:36px;overflow:hidden;}
.blank45{clear:both;height:45px;overflow:hidden;}
.size14{font-size:14px;}
.size12{font-size:12px;}
.hand{cursor:pointer;}
.hide{diplay:hidden}
.clearboth{clear:both;overflow:hidden;}
.clear_both{clear:both;}

/**page header**/
.sym_header {background:#f5f5f5 url(images/headbg.jpg) 0 0 repeat-x;height: 80px;width: 100%; }
.custHead,.language,.logo,.c_menu a,.sina,.tencent,.symMailTip .angle,.symMailTip .symMailClose{background: url("/images/head.png") no-repeat;}
.logo {background-position:0px -60px;float: left;height: 20px;width: 111px; margin-left: 43px; display: inline;}
.logo a{width:122px;height:20px;display:block;overflow: hidden;}
.m_top{width:1080px;margin:0 auto;position:relative;padding-top: 30px;}
.c_menu{float:left;padding-top: 4px;padding-left:30px;}
.c_menu li{float:left;}
.c_menu a{display:block;width:92px;height:18px;position:relative;}
.c_menu span{display:none;}
.c_menu span.current{color:#27b3ef;}
.c_menu .hideLeft{background-color:#d8d8d8;display:block;height:12px;width:1px;overflow:hidden; position:absolute;right:0px;}
a.r_bbs .hideLeft{width:0px;}
a.r_store .hideLeft{right: -10px;}
a.r_tech .hideLeft{right: -7px;}
.c_menu a.r_prd{ background-position: 0px 0px;}.c_menu a.r_prd:hover{background-position:0px -18px;}.c_menu a.r_prd_selected{background-position:0px -36px;}
.c_menu a.r_store{background-position:-100px 0;}.c_menu a.r_store:hover{background-position:-100px -18px;}.c_menu a.r_store_selected{background-position:-100px -36px;}
.c_menu a.r_buy{background-position:-200px 0;}.c_menu a.r_buy:hover{background-position:-200px -18px;}.c_menu a.r_buy_selected{background-position:-200px -36px;}
.c_menu a.r_tech{background-position:-300px 0;}.c_menu a.r_tech:hover{background-position:-300px -18px;}.c_menu a.r_tech_selected{background-position:-300px -36px;}
.c_menu a.r_flyme{background-position:-400px 0;}.c_menu a.r_flyme:hover{background-position:-400px -18px;}.c_menu a.r_flyme_selected{background-position:-400px -36px;}
.c_menu a.r_bbs{background-position:-500px 0;}.c_menu a.r_bbs:hover{background-position:-500px -18px;}.c_menu a.r_bbs_selected{background-position:-500px -36px;}

.symMailTip{position: absolute;z-index: 4;top: 50px;right: 0px;width: 305px;height: 42px;}
.symMailTip .angle{position: absolute;z-index: 2;top: 2px;right: 65px;background-position:0px -134px;width: 14px;height: 8px;}
.symMailTip .symMailClose{cursor: pointer;position: absolute;z-index: 3;top: 21px;right: 14px;background-position:-15px -130px;width: 13px;height: 13px;}
.symMailTip .bg{position: absolute;top:9px;z-index: 1;width: 100%;height: 35px;line-height: 35px;background-color: #E7F4FA;border: solid 1px #C5DFEB;-moz-border-radius: 3px;-webkit-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;}

div#symCustOp{-moz-box-shadow: 0px 0px 10px #E1E4E8;-webkit-box-shadow: 0px 0px 10px #E1E4E8;box-shadow: 0px 0px 10px #E1E4E8;-moz-border-radius: 2px;-webkit-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;background-color: #FEFEFE;position: absolute;border:solid 1px #E1E4E8;display:none;overflow:hidden;}

/**login**/
#symCust{float:right;height:19px;line-height:19px;width:320px; text-align: right;}
#symCust div{display: inline-block; vertical-align:middle; width:25px;color:#a2a2a2;font-size:12px;}
#symCust div{*display: inline;}
#symCust .custHead{width: 18px;height: 17px; display: inline-block; background-position: -124px -58px; margin-top: -3px;}
#symCust .custHead{#display: inline;}
#symCust .atag{cursor: pointer;margin:2px 5px 0px 3px;_margin:2px 3px 0px 3px;}
#symCust span .line_head{ font-size: 12px; padding: 0 5px; color: #d8d8d8;}
#symCust span  .num{background: #ef4604; padding: 0 2px; min-width: 15px; _width :15px; height: 15px; text-align: center; line-height: 15px; margin-left: 5px; border-radius: 2px; display: inline-block; color: #fff; font-size: 12px;}
#symCust a:link,#symCust a:visited{color: #a2a2a2;}
#symCust a:hover{color:#000;}
#symCustName{max-width:90px;_width:90px;}
#symLogout{margin-left: 5px;}
#symCust #symLoginArea3{width: 5px;}
.hsplit{width:115px;height:1px;background-color:#e4e7e9;margin:0px auto;overflow:hidden;}

@media screen and (max-width: 980px) {
	body{width: 1080px;   }
	.sym_header{ visibility: visible; opacity: 1;}
}
