<? extend 'layout.html' ?>
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
<!-- DataTables -->
<script type="text/javascript" charset="utf-8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>

<div class="tab segment">
	<div class="container">
		<div class="introduction">
			<h2 class="ui dividing header"> <?=_("SmartHome")?> - <?=app.appname ?> </h2>
		</div>
	</div>
</div>




<div class="main container">
	<div class="ui icon buttons tiny">
		<div class=" ui icon button" id="start">
			<i class="play teal icon" ></i>
			开始刷新
		</div>
		<div class="or"></div>
		<div class="ui icon button" id="stop">
			<i class="stop red icon" ></i>
			停止刷新
		</div>
		<div class="or"></div>
		<a class="ui icon button" href="/apps/<?=app.appname?>/config"><i class="setting blue icon"></i>配置界面</a>
		<iframe name="sinaWeatherTool" src="http://weather.news.sina.com.cn/chajian/iframe/weatherStyle2.html?city=%E5%8C%97%E4%BA%AC" width="200" height="20" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no"></iframe>
	</div>
	<div class="ui divider"></div>

	<table cellpadding="5" cellspacing="10" border="0" class="display" id="mytable">
		<tbody>
			<th>Name</th>
			<th>Value</th>
		</tbody>
	</table>
</div>



<script type="text/javascript">
	var datanav = <?=json_text ?>;
	
	$(document).ready(function () {

//	var datanav = [{ "name": "relay_on", "value": "400" }, { "name": "relay_off", "value": "800"}];
	var mytable = document.getElementById("mytable");
	for (var i=0;i<datanav.length;i++){
		var row = mytable.insertRow(mytable.rows.length);
		var c1 = row.insertCell(0);
			c1.innerHTML = datanav[i].tree.name;
		var c2 = row.insertCell(1);
			c2.innerHTML = datanav[i].config.input;
	}
				
		newtimer = setInterval( function () {
			//mytable.fnReloadAjax(null, null, false);
			aja();
		}, 1000 );

		var timer_running = true;

		$("#stop").click(function() {
			if (timer_running) {
				clearInterval(newtimer)
				timer_running = false;
			}
		});
		$("#start").click(function() {
			if(!timer_running) {
				newtimer = setInterval( function () {
				//	mytable.fnReloadAjax(null, null, false);
				aja();
				}, 1000 );
				timer_running = true;
			}
		});

});
/*
function post_action(){
	$.post("/apps/<?=app.appname?>/index", {}, function(data){
					
		datanav = eval('(' + data + ')');
		var mytable = document.getElementById("mytable");
		
		var str = '<tbody> <th>Name</th> <th>Value</th> </tbody>';
		mytable.html(str);

	
		for (var i=0;i<datanav.length;i++){
		var row = mytable.insertRow(mytable.rows.length);
		var c1 = row.insertCell(0);
			c1.innerHTML = datanav[i].tree.name;
		var c2 = row.insertCell(1);
			c2.innerHTML = datanav[i].config.input;
		}
		})
};
*/
//setInterval(function(){
//				post_action();
//				aja()
//				},1000);

function aja(){
	$.ajax({
	url: " ", //表示提交给的action
	type: "post",   //提交方法
	datatype: "json",//数据类型
	success: function (result) { //返回的结果自动放在resut里面了

//			alert(result);
			datanav = eval('(' + result + ')');
			var str = '<tbody> <th>Name</th> <th>Value</th> </tbody>';
			$("#mytable").html(str);
	
			for (var i=0;i<datanav.length;i++){
			var mytable = document.getElementById("mytable");
			var row = mytable.insertRow(mytable.rows.length);
			var c1 = row.insertCell(0);
				c1.innerHTML = datanav[i].tree.name;
			var c2 = row.insertCell(1);
				c2.innerHTML = datanav[i].config.input;
			}
		} 
	});
}
</script>









