<? extend 'layout.html'?>

<div class="tab segment">
	<div class="container">
		<div class="introduction">
			<h2 class="ui dividing header"> <?=_("Auto Control")?> - <?=app.appname ?> </h2>
		</div>
	</div>
</div>

<div class="main container">
		<form class="ui form">
			<div class="content">
				<div class="ui blue button" id="Add" onclick="addRow('ratios');"> Add</div>
				<div class="ui button" id="pSave" name="pSave">Save</div>

				<iframe name="sinaWeatherTool" src="http://weather.news.sina.com.cn/chajian/iframe/weatherStyle0.html?city=%E5%8C%97%E4%BA%AC" width="200" height="20" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no"></iframe>

				<table class="ui table segment" id="ratios">
		<div class = "ui label" text-align:center><h2>auto ctrl config</h2></div>
					<tbody>
						<th>Unit</th>
						<th>Name</th>
						<th>Compare</th>
						<th>Value</th>
						<th>Command</th>
						<th>Remove</th>
					</tbody>
				</table>
				<p></p>
			</div>
		<p></p>
		</form>
</div>


<div class="ui basic small modal">
	<div class="content">
			<p>Unit</p>
			<div class="ui small input">
				<input id="ratio_unit" type="text"></input>
			</div>
			<p>Name</p>
			<div class="ui small input">
				<input id="ratio_lname" type="text"></input>
			</div>
			
			<p>Compare</p>
			<div class="ui small input">
				<div class="ui selection labeled dropdown" onChange="changeType(this)">
				<input id="ratio_compare" name="ratio_compare" type="hidden" value=">"/>
				<div class="default text"><? = ">" ?> </div>
				<i class="dropdown icon"></i>
				<div class="menu">
					<div class="item" data-value=">"><?="大于"?></div>
					<div class="item" data-value="<"><?="小于"?></div>
					<div class="item" data-value="="><?="等于"?></div>
					<div class="item" data-value="[x,y]"><?="区间"?></div>
				</div>
				</div>
			</div>
			
			<p>Value</p>
			<div class="ui small input">
				<input id="ratio_value" type="text"></input>
			</div>

			<div class="ui selection labeled dropdown">
				<? local def = (#inputs ~= 0 and conf.path or '') ?>
				<input id="ratio_command" name="input" type="hidden" value="<?=def?>"/>
				<div class="default text"><? = def ?> </div>
				<i class="dropdown icon"></i>
				<div class="menu">
					<? for _, v in pairs(inputs) do ?>
					<div class="item" data-value="<?=v.path?>"><?=v.path?></div>
					<? end ?>
				</div>
			</div>
	</div>
	<div class="actions">
		<div class="two fluid ui buttons">
			<div class="ui negative labeled icon button">
				<i class="remove icon"></i>
				Cancel
			</div>
			<div class="ui positive right labeled icon button">
				Save
				<i class="checkmark icon"></i>
			</div>
		</div>
	</div>
</div>

	
	
	<form class="ui form" method="post">
<!--		<textarea class="ui full filled fluid textarea" name="rules" id="rules"><?=rules or ''?></textarea> 
		<input class="ui right floated teal submit button" type="submit" value="<?=_('Save')?>"> </input>  -->
	</form>

</div>

<script type="text/javascript">

var setting = {
	callback: {
		onClick: onClick,
	}
};


	(function() {
		setInterval( function(){
//			query_result();
			 },1000);
		var status = $('#status');
		$('form').ajaxForm({
			beforeSend: function() {
				status.text(' ');
			},
			success: function() {
			},
			complete: function(xhr) {
				status.text(xhr.responseText);
			}
		}); 
	})();
		
function changeType(obj){

	var val = $("#ratio_compare").attr("value");
		if (val == "[x,y]"){
			var val = $("#ratio_value").val("[x,y]");
		}else{
			var val = $("#ratio_value").val("");
		}
}




var json_text = <?=json_text ?>;
function query_result() {      //天气预报显示
	$.get("/apps/<?=app.appname?>/index", {}, function(data){
		alert(json_text[0].config.ratio.length);
	})
	.done(function() {
			})
	.fail(function() {
			});

};
	function addRow() {
		$('.ui.modal')
			.modal('setting', {
					closable  : false,
					onDeny    : function(){
				},
				onApprove : function() {
					var uname = $('#ratio_unit').val();
					uname = uname.trim();
					var lname = $('#ratio_lname').val();
					lname = lname.trim();
					var compare = $('#ratio_compare').val();
					compare = compare.trim();
					var command = $('#ratio_command').val();
					command = command.trim();
					var value = $("#ratio_value").val();
					value = value.trim();
					
					if (lname.length == 0 || !value || !uname) {
						window.alert("Name/Value/Unit cannot be empty");
						return false;
					};
					var table = document.getElementById("ratios");
					var row = table.insertRow(1);
					var cell1 = row.insertCell(0);
					var cell2 = row.insertCell(1);
					var cell3 = row.insertCell(2);
					var cell4 = row.insertCell(3);
					var cell5 = row.insertCell(4);
					cell1.innerHTML = uname;
					cell2.innerHTML = lname;
					cell3.innerHTML = compare;
					cell4.innerHTML = value;
					cell5.innerHTML = command;
					var cell6 = row.insertCell(5);
					var element6 = document.createElement("input");
					element6.type = "button";
					element6.name = "Remove";
					element6.value = "Remove";
					element6.setAttribute("onclick", "deleteRow(this)");
					cell6.appendChild(element6);
					return true;
				}
			})
			.modal('show')
			;
	};

function deleteRow(r) {
	var i=r.parentNode.parentNode.rowIndex;
	document.getElementById('ratios').deleteRow(i)
}


function tableToJson(table) {
	var myRows = [];
	var $headers = $("th");
	var $rows = $("tbody tr").each(function(index) {
				$cells = $(this).find("td");
				myRows[index] = {};
				$cells.each(function(cellIndex) {
					myRows[index][$($headers[cellIndex]).html()] = $(this).html();
					});    
				});
	return JSON.stringify(myRows);
}


var json_text = <?=json_text ?>;
function onClick(event) {

			for (var i=0; i< json_text.length; i++){
				var data = '<tbody> <th>Unit</th> <th>Name</th> <th>Compare</th> <th>Value</th> <th>Command</th> <th>Remove</th> </tbody>';
				$("#ratios").html(data);
			//	alert("***********");
		//		alert(json_text.length);
				if (true) {
					for (var j = 1; j < json_text[i].config.ratio.length; j++) {
						var table = document.getElementById("ratios");
						var row = table.insertRow(1);
						var cell1 = row.insertCell(0);
						var cell2 = row.insertCell(1);
						var cell3 = row.insertCell(2);
						var cell4 = row.insertCell(3);
						var cell5 = row.insertCell(4);
						cell1.innerHTML = json_text[i].config.ratio[j].Unit;
						cell2.innerHTML = json_text[i].config.ratio[j].Name;
						cell3.innerHTML = json_text[i].config.ratio[j].Compare;
						cell4.innerHTML = json_text[i].config.ratio[j].Value;
						cell5.innerHTML = json_text[i].config.ratio[j].Command;
						var cell6 = row.insertCell(5);
						var element6 = document.createElement("input");
						element6.type = "button";
						element6.name = "Remove";
						element6.value = "Remove";
						element6.setAttribute("onclick", "deleteRow(this)");
						cell6.appendChild(element6);
					}
				}
				else {
					alert("Please select modbus transmission method");
				}
			}

}	




function pSave(){
	//	alert ("---1---");
		var ratio = tableToJson('ratios');
		$.post("/apps/<?=app.appname?>/index", {ratio:ratio}, function(data, status){
	//		alert(data);
			if (status) {
				window.location.reload();
	//			alert (status);
			} else {
					alert("error");
					return;
			}
	});
}

$(document).ready(function(){
	$("#pSave").bind("click", pSave);
	onClick();
});

</script>











