<? extend 'layout.html'?>
<script src="/static/js/table.js"></script>

<div class="tab segment">
	<div class="container">
		<div class="introduction">
			<h2 class="ui dividing header"> <?=_("Temp Controller")?> - <?=app.appname ?> </h2>
			<div class="ui breadcrumb">
				<a class="section" href="/app/view/<?=app.appname?>"><?=_("App Control")?></a>
				<i class="right arrow icon divider"></i>
				<a class="section" href="/apps/<?=app.appname?>"><?=_("App Home")?></a>
			</div>
		</div>
	</div>
</div>

<div class="main container">
	<div class="two column stackable ui grid">
		<div class="column">
			<div class="ui segment">
				<div class="ui top attached label"><b><?=_('Settings')?></b></div>

				<form class="ui form" method="post" action="">
					
						<!-- 温度强度 LUX -->
						<div class="ui top attached label">
											温度小于：
											<div class="ui selection labeled dropdown">
												<input name="onlight_less" type="hidden" value="<?=conf.onlight_less or 'NULL'?>"/>
												<div class="default text"><?=conf.onlight_less or 'NULL' ?> </div>
												<i class="dropdown icon" ></i>
												<div class="menu">
													<? for k, v in pairs(list_onlight) do?>
														<div class="item" data-value="<? =v ?>"><?=v?></div>
													<? end ?>
												</div>
											</div> ℃ '<?=_('动作')?>		
						</div></br></br></br>
		

					<div class="ui segment">
					
												灯开关：
											<div class="ui selection labeled dropdown">
												<input name="onlight_l_on" type="hidden" value="<?=conf.onlight_l_on or 'NULL'?>"/>
												<div class="default text"><?=conf.onlight_l_on or 'NULL' ?> </div>
												<i class="dropdown icon" ></i>
												<div class="menu">
														<div class="item" data-value="<? ="NULL" ?>"><?="NULL"?></div>
														<div class="item" data-value="<? ="开" ?>"><?="开"?></div>
														<div class="item" data-value="<? = "关"?>"><?="关"?></div>
												</div>
											</div>数值：
											<div class="ui selection labeled dropdown">
												<input name="onlight_l_num" type="hidden" value="<?=conf.onlight_l_num or 'NULL'?>"/>
												<div class="default text"><?=conf.onlight_l_num or 'NULL' ?> </div>
												<i class="dropdown icon" ></i>
												<div class="menu">
														<div class="item" data-value="<? ="NULL" ?>"><?="NULL"?></div>
														<div class="item" data-value="<? ="1" ?>"><?="1"?>盏</div>
														<div class="item" data-value="<? = "2"?>"><?="2"?>盏</div>
												</div>
											</div>
				
					</div>
				
           <!-------------------------------------------------------------->
					<div class="ui segment">
											空调开关：
											<div class="ui selection labeled dropdown">
												<input name="onlight_l_on_off" type="hidden" value="<?=conf.onlight_l_on_off or 'NULL'?>"/>
												<div class="default text"><?=conf.onlight_l_on_off or 'NULL' ?> </div>
												<i class="dropdown icon" ></i>
												<div class="menu">
														<div class="item" data-value="<? ="NULL" ?>"><?="NULL"?></div>
														<div class="item" data-value="<? ="开" ?>"><?="开"?></div>
														<div class="item" data-value="<? = "关"?>"><?="关"?></div>
												</div>
											</div>数值：
											<div class="ui selection labeled dropdown">
												<input name="onlight_l_on_off_num" type="hidden" value="<?=conf.onlight_l_on_off_num or 'NULL'?>"/>
												<div class="default text"><?=conf.onlight_l_on_off_num or 'NULL' ?> </div>
												<i class="dropdown icon" ></i>
												<div class="menu">
														<div class="item" data-value="<? ="NULL" ?>"><?="NULL"?></div>
														<div class="item" data-value="<? ="高温" ?>"><?="高温"?></div>
														<div class="item" data-value="<? = "低温"?>"><?="低温"?></div>
												</div>
											</div>
							
					</div>
		<!-------------------------------------------------------------------->
		
				


			</div>
		</div>
		<div class="column">
		
		<div class="ui segment">
				<div class="ui top attached label"><b><?=_('Settings')?></b></div>

					
						<!-- 温度强度 LUX -->
						<div class="ui top attached label">
											温度大于：
											<div class="ui selection labeled dropdown">
												<input name="onlight_more" type="hidden" value="<?=conf.onlight_more or 'NULL'?>"/>
												<div class="default text"><?=conf.onlight_more or 'NULL' ?> </div>
												<i class="dropdown icon" ></i>
												<div class="menu">
													<? for k, v in pairs(list_onlight) do?>
														<div class="item" data-value="<? =v ?>"><?=v?></div>
													<? end ?>
												</div>
											</div> ℃ <?=_('动作')?>		
						</div></br></br></br>
		

					<div class="ui segment">
					
												灯开关：
											<div class="ui selection labeled dropdown">
												<input name="onlight_m_on" type="hidden" value="<?=conf.onlight_m_on or 'NULL'?>"/>
												<div class="default text"><?=conf.onlight_m_on or 'NULL' ?> </div>
												<i class="dropdown icon" ></i>
												<div class="menu">
														<div class="item" data-value="<? ="NULL" ?>"><?="NULL"?></div>
														<div class="item" data-value="<? ="开" ?>"><?="开"?></div>
														<div class="item" data-value="<? = "关"?>"><?="关"?></div>
												</div>
											</div>数值：
											<div class="ui selection labeled dropdown">
												<input name="onlight_m_num" type="hidden" value="<?=conf.onlight_m_num or 'NULL'?>"/>
												<div class="default text"><?=conf.onlight_m_num or 'NULL' ?> </div>
												<i class="dropdown icon" ></i>
												<div class="menu">
														<div class="item" data-value="<? ="NULL" ?>"><?="NULL"?></div>
														<div class="item" data-value="<? ="1" ?>"><?="1"?>盏</div>
														<div class="item" data-value="<? = "2"?>"><?="2"?>盏</div>
												</div>
											</div>
				
					</div>
				
           <!-------------------------------------------------------------->
					<div class="ui segment">
											空调开关：
											<div class="ui selection labeled dropdown">
												<input name="onlight_m_on_off" type="hidden" value="<?=conf.onlight_m_on_off or 'NULL'?>"/>
												<div class="default text"><?=conf.onlight_m_on_off or 'NULL' ?> </div>
												<i class="dropdown icon" ></i>
												<div class="menu">
														<div class="item" data-value="<? ="NULL" ?>"><?="NULL"?></div>
														<div class="item" data-value="<? ="开" ?>"><?="开"?></div>
														<div class="item" data-value="<? = "关"?>"><?="关"?></div>
												</div>
											</div>数值：
											<div class="ui selection labeled dropdown">
												<input name="onlight_m_on_off_num" type="hidden" value="<?=conf.onlight_m_on_off_num or 'NULL'?>"/>
												<div class="default text"><?=conf.onlight_m_on_off_num or 'NULL' ?> </div>
												<i class="dropdown icon" ></i>
												<div class="menu">
														<div class="item" data-value="<? ="NULL" ?>"><?="NULL"?></div>
														<div class="item" data-value="<? ="高温" ?>"><?="高温"?></div>
														<div class="item" data-value="<? = "低温"?>"><?="低温"?></div>
												</div>
											</div>
							
					</div>
		<!-------------------------------------------------------------------->
		
				


			</div>
					<input class="ui right floated teal submit button" type="submit" value="<?=_('Save')?>" onclick="send_command('TTTTTTTTTTT');"/>
				</form>
		</div>
	</div>

	<div class="ui message" id="status"><?=info or '&nbsp;'?></div>
</div>


<script>
	(function() {
		var status = $('#status');
		$('form').ajaxForm({
			beforeSend: function() {
				status.text(' ');
			},
			success: function() {
			},
			complete: function(xhr) {
				status.text(xhr.responseText);
			}
		}); 
		query_panel();
	})();

function query_panel(){
	document.getElementById('e').value = location.href;
}

function send_command(value){
	
	var value_light = document.getElementById('check_light').checked;
	var value_light_1 = document.getElementById('check_light_1').checked;
	var value_light_2 = document.getElementById('check_light_2').checked;
	alert(value_light_1);
}

</script>
