<? extend 'layout.html' ?>
<? include 'top.html' ?>
<div class="main container">
	<div class="ui tab active" data-tab="overview">
		<? include 'overview.html' ?>	

		<div class="ui fluid accordion">
			<div class="active title">
				<i class="dropdown icon"></i>
				What is a dog?
			</div>
			<div class="active content">
				<p>A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.</p>
			</div>
		</div>

	</div>
	<? if lwf.ctx.user then ?>
	<div class="ui tab" data-tab="apps">
		<? include('widget/applist.html', {apps=apps}) ?>
	</div>
	<div class="ui tab" data-tab="settings">
		<? include('system/settings.html', {settings=settings}) ?>
	</div>
	<? end ?>
</div>
