<div class="ui large vertical inverted labeled icon sidebar menu" id="menu">
	<a class="hide item">
		<i class="close icon"></i> <?=_("Close Menu")?>
	</a>

	<? if not lwf.ctx.user then ?>
	<a class="item" href="/user/login">
		<i class="inverted circular blue awesome sign in icon"></i><b> <?=_("Login Now")?></b>
	</a>
	<? else ?>

	<a class="item" href="/store">
		<i class="inverted circular blue awesome download cloud icon"></i><b> <?=_("Install New")?></b>
	</a>

	<? if lwf.ctx.session:get('advance') == 'true' then ?>
	<? if apps then  ?>
	<div class="item">
		<b> Applications</b>
		<div class="menu">
			<?	 for cate, lst in pairs(apps) do ?>
				 <div class="item">
					 <b> <? = cate:upper() ?> </b>
					 <div class="menu">
						 <? for _, v in pairs(lst) do ?>
						 <a class="item" href="/app/<?=v.lanem?>"> <?=v.lname?></a>
						 <? end ?>
					 </div>
				 </div>
			 <? end ?>
		</div>
	</div>
	<? end ?>
	<div class="item">
		<b> <?=_("Utilies")?></b>
		<div class="menu">
			<a class="item" href="/data"> <?=_('Data')?></a>
			<a class="item" href="/log"> <?=_('Log')?></a>
			<a class="item" href="/packets"> <?=_('Packets')?></a>
		</div>
	</div>
	<? end ?>

	<div class="item">
		<b> <?_('System')?></b>
		<div class="menu">
			<a class="item" href="/system/network"> <?=_('Network')?></a>
			<a class="item" href="/system/services"> <?=_('Services')?></a>
			<a class="item" href="/system/upgrade"> <?=_('Upgrade')?></a>
			<a class="item" href="/system/backup"> <?=_('Backup')?></a>
		</div>
	</div>
	<? end ?>

	<div class="item">
		<b> <?=_('Help')?></b>
		<div class="menu">
			<a class="item" href="/forum"> <?=_('Forum')?></a>
			<a class="item" href="/about"> <?=_('About')?></a>
		</div>
	</div>
	<!--     <div class="item">
	  <b>Specification</b>
	  <div class="menu">

	  </div>
	</div> -->
</div>
