<div class="ui large vertical inverted labeled icon sidebar menu" id="menu">
	<a class="hide item">
		<i class="close icon"></i> Close Menu
	</a>
	<a class="item" href="/">
		<i class="inverted circular blue awesome download cloud icon"></i> <b>Install New</b>
	</a>

	<div class="item">
		<a href="/apps/"><b>Devices</b></a>
		<div class="menu">
			<div id="inst_devs_list"> </div>
			<a class="item" href="/more">More</a>
		</div>
	</div>
	<div class="item">
		<a href="/apps/"><b>Services</b></a>
		<div class="menu">
			<div id="insta_app_list"> </div>
			<a class="item" href="/more">More</a>
		</div>
	</div>

	<div class="item">
		<b>System</b>
		<div class="menu">
			<a class="item" href="/network/">Network</a>
			<a class="item" href="/system/upgrade">Upgrade</a>
			<a class="item" href="/system/backup">Backup</a>
		</div>
	</div>

	<div class="item">
		<b>Help</b>
		<div class="menu">
			<a class="item" href="/forum">Forum</a>
			<a class="item" href="/about">About</a>
		</div>
	</div>
	<!--     <div class="item">
	  <b>Specification</b>
	  <div class="menu">

	  </div>
	</div> -->
</div>
