<h2 > Settings </h2>
<div class="ui fluid accordion">
	<div class="active title">
		<i class="dropdown icon"></i> System Settings
	</div>
	<div class="active content">
		<p>System wide settings.</p>

		<div class="active title">
			<i class="dropdown icon"></i>
			Management
		</div>
		<div class="active content">
			<div class="ui small buttons">
			<a href="/system/upgrade" class="ui button">Upgrade</a>
			<div class="or"> </div>
			<a href="/system/backup" class="ui button">Backup</a>
		</div>
		</div>

		<div class="title">
			<i class="dropdown icon"></i> Device Settings
		</div>
		<div class="content">
			<div class="ui segment">
				<form action="login" method="post" class="ui fluid form">
					<input type="hidden" name="type" value="device" />
					<div class="two fields">
						<div class="inline field">
							<div class="ui pointing right label"><b>Name</b></div>
							<input name="devname" placeholder="Name" type="text">
						</div>
						<div class="inline field">
							<div class="ui pointing right label"><b>SN</b></div>
							<input name="sn" placeholder="SN" type="text">
						</div>
					</div>
					<div class="title">
						<i class="icon dropdown"></i>
						More
					</div>
					<div class="content field">
						<label>Auth Key</label>
						<input name="authkey" placeholder="KEY" type="text">
					</div>
					<input type="submit" class="ui right floated tiny blue submit button" value="Apply"/>
				</form>
			</div>
		</div>
	</div>
	<div class="title">
		<i class="dropdown icon"></i>
		Cloud Settings
	</div>
	<div class="content">
		<div class="ui segment">
			<form action="login" method="post" class="ui fluid form">
				<input type="hidden" name="type" value="device" />
				<div class="ui toggle checkbox field">
					<input name="enable" type="checkbox" value="checked">
					<label><b>Enable</b></label>
				</div>
				<div class="title">
					<i class="icon dropdown"></i><b> More </b>
				</div>
				<div class="content field">
					<div class="two fields">
						<div class="inline field">
							<div class="ui pointing right label"><b>Namespace</b></div>
							<input name="devname" placeholder="Name" type="text">
						</div>
						<div class="inline field">
							<div class="ui pointing right label"><b>Auth Key</b></div>
							<input name="authkey" placeholder="KEY" type="text">
						</div>
					</div>
				</div>
				<input type="submit" class="ui right floated tiny blue submit button" value="Apply"/>
			</form>
		</div>
	</div>
</div>
