<script src="/static/js/topmenu.js"></script>
<div class="ui fixed transparent inverted main menu">
	<div class="container">
		<a class="launch item"><i class="icon list layout"></i> <?=_( 'Menu' )?></a>

		<a class="item" href="/">
			<i class="home icon"></i> <?=_('Home')?>
		</a>

		<? if lwf.ctx.user then ?>
		<a class="item" href="/store">
			<i class="cloud download icon"></i> <?=_('Store' )?>
		</a>
		<? end ?>

		<? if lwf.ctx.session:get('advance') == 'true' then ?>
		<div class="ui dropdown item">
			<i class="list layout icon"></i>
			More
			<div class="menu">
				<a class="item" href="/data">
					<i class="table icon"></i> <?=_('Data')?>
				</a>
				<a class="item" href="/log">
					<i class="reorder icon"></i> <?=_('Log')?>
				</a>
				<a class="item" href="/packets">
					<i class="tasks icon"></i> <?=_('Packets')?>
				</a>
			</div>
		</div>
		<? end ?>

		<div class="right menu">
			<div class="ui dropdown item">
				<i class="icon globe"></i>
				<div class="menu">
					<a class="item" href="/lang/en">
						<i class="leaf icon"></i> English
					</a>
					<a class="item" href="/lang/zh">
						<i class="leaf icon"></i> 中文(简体)
					</a>
				</div>
			</div>
			<? if not lwf.ctx.user then ?>
			<div class="item">
				<div id="btn_login" class="ui teal button"><i class="sign in icon"></i><?=_('Sign In')?></div>
			</div>
			<? else ?>
			<div class="ui dropdown item">
				<i class="icon user"></i> <?=lwf.ctx.user.username ?>
				<div class="menu">
					<? if lwf.ctx.session:get('advance') == 'true' then ?>
					<a class="item" href="/user/simple">
						<i class="teal hide icon"></i> <?=_('Simple')?>
					</a>
					<? else ?>
					<a class="item" href="/user/advance">
						<i class="unhide icon"></i> <?=_('Advance')?>
					</a>
					<? end ?>
					<a class="item" href="/user/settings">
						<i class="settings icon"></i> <?=_("Settings")?>
					</a>
					<a class="item" href="/user/logout"><i class="sign out icon"></i> <?=_("Logout")?></a>
				</div>
			</div>
			<? end ?>

		</div>
	</div>
</div>
