<? extend 'layout.html' ?>

<div class="segment">
	<div class="container">
		<div class="introduction">
			<h3 class="ui dividing header"> <?=_("Backup")?> &amp; <?=_("Restore")?></h3>
		</div>
	</div>
</div>
<div class="main container">
	<div class="ui primary segment">
		<div class="ui teal ribbon label"><?=_("Backup System")?></div>
		<p>
		<a id="btn_backup_sys" class="ui small green button"><?=("Pack System")?></a>
		</p>
		<div class="ui teal ribbon label"><?=_("Restore System")?></div>
		<p>
		<form action="/system/restore" method="post" enctype="multipart/form-data">
			<input type="hidden" name="filetype" value="app" />
			<input type="file" name="file" />
			<input type="submit" class="ui small red submit button" value="<?=_('Restore')?>"></input>
		</form>
		</p>

		<div class="ui teal ribbon label"><?=("Progress and Output")?></div>
		<p>
		<div class="ui green progress">
			<div class="small bar"></div>
		</div>
		<div class="ui message">
			<div id="status"></div>
		</div>
		</p>
	</div>
</div>
<script>
	(function() {

		var bar = $('.bar');
		var status = $('#status');
		var btnbaksys = $('#btn_backup_sys');

		$('form').ajaxForm({
			beforeSend: function() {
				status.empty();
				var percentVal = '0%';
				bar.width(percentVal);
			},
			uploadProgress: function(event, position, total, percentComplete) {
				var percentVal = percentComplete + '%';
				bar.width(percentVal);
			},
			success: function() {
				var percentVal = '100%';
				bar.width(percentVal);
			},
			complete: function(xhr) {
				status.html(xhr.responseText);
			}
		}); 

		$( "#btn_reboot" ).click(function() {
			$.post("/system/reboot", {from:"web"}, function(data) {
				status.html(data);
			})
			.done(function() {
			})
			.fail(function() {
				alert("Failed to reboot");
			});
		});
		$( "#btn_backup_sys" ).click(function() {
			if (btnbaksys.text() != 'Download') {
				btnbaksys.text('Please wait...');
				btnbaksys.addClass('loading');
				btnbaksys.addClass('disabled');
				$.post("/system/backup/sys", {from:"web"}, function(data) {
					status.html("<br> Done. You can download the file now");
					btnbaksys.attr('href', data);
					})
				.done(function() {
					btnbaksys.removeClass('disabled');
					btnbaksys.removeClass('loading');
					btnbaksys.text('Download');
					})
				.fail(function(data) {
					status.html(data);
					btnbaksys.removeClass('disabled');
					btnbaksys.removeClass('loading');
					btnbaksys.text('Pack System');
					});
			} else {
				window.open(btnbaksys.attr('href'));
				btnbaksys.text('Pack System');
				btnbaksys.removeClass('disabled');
				btnbaksys.removeClass('loading');
				btnbaksys.attr('href', '');
			}
		});

	})();       
</script>

</div>
