<div class="ui fluid accordion">
	<div class="active title">
		<i class="dropdown icon"></i> <?=_("System Settings")?>
	</div>
	<div class="active content">
		<p><?=_("System wide settings")?></p>

		<div class="active title">
			<i class="dropdown icon"></i>
			<?=_("Management")?>
		</div>
		<div class="active content">
			<div class="ui small buttons">
				<a href="/system/upgrade" class="ui button"><?=_("Upgrade")?></a>
				<div class="or"> </div>
				<a href="/system/backup" class="ui button"><?=_("Backup")?></a>
			</div>
		</div>

		<div class="title">
			<i class="dropdown icon"></i> <?=_("Device Settings")?>
		</div>
		<div class="content">
			<div class="ui segment">
				<form action="/user/login" method="post" class="ui fluid form">
					<input type="hidden" name="type" value="device" />
					<div class="two fields">
						<div class="inline field">
							<div class="ui pointing right label"><b><?=_("Name")?></b></div>
							<input name="devname" placeholder="<?=_('Name')?>" type="text">
						</div>
						<div class="inline field">
							<div class="ui pointing right label"><b><?=_("SN")?></b></div>
							<input name="sn" placeholder="<?=_('SN')?>" type="text">
						</div>
					</div>
					<div class="title">
						<i class="icon dropdown"></i>
						<?=_("More")?>
					</div>
					<div class="content field">
						<label><?=_("Auth Key")?></label>
						<input name="authkey" placeholder="<?=_('KEY')?>" type="text">
					</div>
					<input type="submit" class="ui right floated tiny blue submit button" value="<?=_('Apply')?>"/>
				</form>
			</div>
		</div>
	</div>
	<div class="title">
		<i class="dropdown icon"></i>
		<?=_("Cloud Settings")?>
	</div>
	<div class="content">
		<div class="ui segment">
			<form action="login" method="post" class="ui fluid form">
				<input type="hidden" name="type" value="device" />
				<div class="ui toggle checkbox field">
					<input name="enable" type="checkbox" checked="true">
					<label><b><?=_("Enable")?></b></label>
				</div>
				<div class="title">
					<i class="icon dropdown"></i><b> <?=_("More")?> </b>
				</div>
				<div class="content field">
					<div class="two fields">
						<div class="inline field">
							<div class="ui pointing right label"><b><?=("Namespace")?></b></div>
							<input name="devname" placeholder="<?=_('Name')?>" type="text">
						</div>
						<div class="inline field">
							<div class="ui pointing right label"><b><?=_("Auth Key")?></b></div>
							<input name="authkey" placeholder="<?=_('KEY')?>" type="text">
						</div>
					</div>
				</div>
				<input type="submit" class="ui right floated tiny blue submit button" value="<?=_('Apply')?>"/>
			</form>
		</div>
	</div>
</div>
