<? extend 'layout.html' ?>

<div class="segment">
	<div class="container">
		<div class="introduction">
			<h3 class="ui dividing header"> Administration</h3>
			System upgrade and applicaiton installation page.
		</div>
	</div>
</div>
<div class="main container">
	<div class="ui primary segment">
		<div class="ui teal ribbon label">System Management</div>
		<p>
		<div id="btn_reboot" class="ui small button">Reboot</div>
		</p>
		<div class="ui teal ribbon label">Upgrade System</div>
		<p>
		<form action="/system/upload" method="post" enctype="multipart/form-data">
			<input type="hidden" name="filetype" value="sys" />
			<input type="file" name="file" />
			<input type="submit" class="ui small submit button" value="upgrade"></input>
		</form>
		</p>
		<div class="ui teal ribbon label">Install Application</div>
		<p>
		<form action="/system/upload" method="post" enctype="multipart/form-data">
			<input type="hidden" name="filetype" value="app" />
			<input type="file" name="file" />
			<div class="ui small label"><b>Instance Name</b></div>
			<div class="ui small left labeled input">
				<input type="text" name="appname" value="" />
				<div class="ui corner label">
					<i class="asterisk icon"></i>
				</div>
			</div>
			<input type="submit" class="ui small submit button" value="install"></input>
		</form>
		</p>

		<div class="ui teal ribbon label">Progress and Output</div>
		<p>
		<div class="ui green progress">
			<div class="small bar"></div>
		</div>
		<div class="ui message">
			<div id="status"></div>
		</div>
		</p>
	</div>
</div>
<script>
	(function() {

		var bar = $('.bar');
		var status = $('#status');

		$('form').ajaxForm({
			beforeSend: function() {
				status.empty();
				var percentVal = '0%';
				bar.width(percentVal);
			},
			uploadProgress: function(event, position, total, percentComplete) {
				var percentVal = percentComplete + '%';
				bar.width(percentVal);
			},
			success: function() {
				var percentVal = '100%';
				bar.width(percentVal);
			},
			complete: function(xhr) {
				status.html(xhr.responseText);
			}
		}); 

		$( "#btn_reboot" ).click(function() {
			$.post("/system/reboot", {from:"web"}, function(data) {
				status.html(data);
			})
			.done(function() {
			})
			.fail(function() {
				alert("Failed to reboot");
			});
		});
	})();       
</script>

</div>
