<? extend 'layout.html' ?>

<div class="tab header segment">
	<div class="container">
		<div class="introduction">
			<h1 class="ui dividing header"> <?=_("System Upgrade")?></h1>
			<br>
		</div>
	</div>
</div>
<div class="main container">
	<div class="ui segment">
		<div class="ui teal ribbon label"><?=_("System Management")?></div>
		<p>
		<div id="btn_reboot" class="ui small red button"><?=_("Reboot")?></div>
		<? if remote_version > version then ?>
		<div id="btn_upgrade" class="ui small green button"><?=_("Upgrade")?></div>
		<div class="ui label">New version <?=remote_version?> found </div>
		<? end ?>
		</p>
		<div class="ui teal ribbon label"><?=_("Upgrade System")?></div>
		<p>
			<form class="ui form" action="/system/upgrade" method="post" enctype="multipart/form-data">
				<input type="file" name="file" />
				<input type="submit" class="ui tiny submit red button" value="<?=_("Upgrade")?>"></input>
			</form>
		</p>
		<div class="ui teal ribbon label"><?=_("Install Application")?></div>
		<p>
			<form class="ui form" action="/system/upload" method="post" enctype="multipart/form-data">
				<div class="two fields">
					<div class="inline field">
						<div class="ui pointing right label"><b><?=_("Instance Name")?></b></div>
						<input type="text" name="appname" value="" />
					</div>

					<input type="hidden" name="filetype" value="app" />
					<input type="file" name="file" />
					<input type="submit" class="ui tiny submit green button" value="<?=_('Install')?>"></input>
				</div>
			</form>

			<div class="ui teal ribbon label"><?=_("Progress and Output")?></div>
		<p>
		<div class="ui green progress">
			<div class="small bar"></div>
		</div>
		<div class="ui message">
			<div id="status"></div>
		</div>
		</p>
	</div>
</div>
<script>
	(function() {

		var bar = $('.bar');
		var status = $('#status');

		$('form').ajaxForm({
			beforeSend: function() {
				status.empty();
				var percentVal = '0%';
				bar.width(percentVal);
			},
			uploadProgress: function(event, position, total, percentComplete) {
				var percentVal = percentComplete + '%';
				bar.width(percentVal);
				status.text(percentVal);
			},
			success: function() {
				var percentVal = '100%';
				bar.width(percentVal);
			},
			complete: function(xhr) {
				status.html(xhr.responseText);
			}
		}); 

		$( "#btn_reboot" ).click(function() {
			$.post("/system/reboot", {from:"web"}, function(data) {
				status.html(data);
			})
			.done(function() {
			})
			.fail(function() {
				alert("<?=_('Failed to reboot')?>");
			});
		});

		$( "#btn_upgrade" ).click(function() {
			$.post("/system/online_upgrade", {from:"web", version:"<?=remote_version?>"}, function(data) {
				window.location.href=data;
			})
			.done(function() {
			})
			.fail(function() {
				alert("<?=_('Failed to request online upgrade')?>");
			});
		});

	})();       
</script>

</div>
