<? extend 'layout.html'?>

<div class="tab segment">
	<div class="container">
		<div class="introduction">
			<h2 class="ui dividing header"> <?=app.appname ?> </h2>
			<div class="ui breadcrumb">
				<a class="section" href="/">Home</a>
				<i class="right arrow icon divider"></i>
				<a class="section" href="/store">Store</a>
				<i class="right arrow icon divider"></i>
				<div class="active section">Details</div>
			</div>
		</div>
	</div>
</div>

<div class="main container">
	<i class="ui large user icon"></i>
	this is in 
	<? =app.appname?>
</div>
