
<? extend 'layout.html' ?>

<script src="/static/js/table.js"></script>

<div class="segment">
	<div class="container">
		<div class="introduction">
			<h3 class="ui dividing header">Installation list<h3>
		</div>
	</div>
</div>
<div class="main container">
<table class="ui sortable table segment">
	<thead>
		<tr>
			<th>Name</th>
			<th>Application</th>
			<th>Status</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
	<?
	local counts = 0
	local status = status or {}
	for _, v in pairs(status) do 
		counts = counts + 1
	?>
	<tr>
		<!--<td class="<?=v.run and '' or 'warning' ?>" > -->
		<td>
			<? = v.name ?>
		</td>
		<td>
			<? = v.desc ?>
		</td>
		<td>
			<? = v.status ?>
		</td>
		<td>
			<div class="ui tiny button" id="<?=v.name?>" onclick="abort_srv(this);">Abort</div>
		</td>
	</tr>
	<? end ?>

	</tbody>
	<tfoot>
		<tr>
			<th>Total <?=counts?></th>
			<th></th>
			<th></th>
		</tr>
	</tfoot>
</table>

<div class="ui icon message">
	<i class="inbox icon"></i>
	<div class="content">
		<div class="header">
			<div id="status">
				<? = err ?>
			</div>
		</div>
	</div>
</div>

</div>

<script>
	function abort_srv(obj) {
		var status = $('#status');
		var name = obj.id;
		$.post("", {action:'abort', name:name}, function(data) {
				status.text(data);
				})
		.done(function() {
				//alert("Application Started!!");
				})
		.fail(function() {
				alert("Failed to send start request!!");
				});
	};
</script>

