<form id="cacheform" class="ui form">
	<div class="four fields">
		<div class="field">
			<div class="ui small teal button item" onclick="update_cache();">Update</div>
		</div>
		<div class="field">
			<div class="ui small teal button item" onclick="query_cache('');">Reload</div>
		</div>
		<div class="field">
			<div class="ui icon small input">
				<input id="cache_search_key" placeholder="Search..." type="text">
				<i id="cache_search_icon" class="teal search link icon"></i>
			</div>
		</div>
		<div class="field">
			<input type="submit" class="ui tiny teal submit button"/>
		</div>
	</div>
</form>

<h2 class="ui dividing header"> Cached</h2>
<div id="cache_list"></div>

<div id="cache_status"></div>

<script>
	$(document).ready(function() {
		$('#cacheform').ajaxForm({
			beforeSend : function() {
				var key = $('#cache_search_key').val();
				query_cache(key);
				return false;
			}
		});
	});

	$("#cache_search_icon").click(function() {
		var key = $('#cache_search_key').val();
		query_cache(key);
	});

	function update_cache() {
		$.ajax({
			type: "POST",
			url: "/store",
			data:{ action : 'update' },
			error: function(jqXHR, textStatus, errorThrown) {
				if (textStatus == "error") {
					$('#cache_status').text("Failed to fetch application information from store server, error : " + errorThrown);
				} else {
					alert(textStatus);
				}
			},
			success: function(data, textStatus, jqXHR) {
				alert('Please click RELOAD button to loading the cached applications');
			}
		});
	};

	function cache_jump_app(obj) {
		var path = $(obj).attr('path');
		var name = obj.id;
		window.location = "/store/view/" + path;	
	};

	function cache_deal_json(data) {
		var list_place = $('#cache_list');
		var text = '<div class="ui stackable items">'
		for (var user in data)
		{
			var list = data[user];
			for (var i in list) {
				var app = list[i];
				var msg = '<div class="app item" id="' + app.name + '" path="' + app.info.path + '" onclick="cache_jump_app(this);">'
							+ '<div class="image">'
							+ '<img src="http://<?=srvurl or "store.symid.com"?>/static/releases/'+app.info.path+'/icon.jpg">'
							+ '</div>'
							+ '<div class="content">'
							+ '<div class="meta">' + app.info.version + '</div>'
							+ '<div class="name">' + app.name + '</div>'
							+ '<div class="extra right">' + app.info.desc + '</div>'
							+ '</div>'
							+ '</div>'
				text = text + msg;
			}
		};
		text = text + '</div>';
		list_place.html(text);
	};

	function query_cache(key) {
		$.ajax({
			type: "POST",
			url: "/store",
			data:{ key : key },
			error: function(jqXHR, textStatus, errorThrown) {
				if (textStatus == "error") {
					$('#cache_status').text("Failed to fetch application information from store server, error : " + errorThrown);
				} else {
					alert(textStatus);
				}
			},
			success: function(data, textStatus, jqXHR) {
				cache_deal_json(data);
			}
		});
	};
</script>

