<? extend 'layout.html' ?>
<div class="tab segment">
	<div class="container">
		<div class="introduction">
			<? local author, name = appname:match('([^/]-)/(.+)') ?>
			<? local info = {name=appname, username="aaaa", desc = 'dddddddddd', path="ddddddddddd"} ?>
			<h2 class="ui dividing header"> <?=name or 'Unkonwn' ?> </h2>
			<div class="ui breadcrumb">
				<a class="section" href="/">Home</a>
				<i class="right arrow icon divider"></i>
				<a class="section" href="/store">Store</a>
				<i class="right arrow icon divider"></i>
				<div class="active section">Details</div>
			</div>
		</div>
	</div>
</div>

<div class="main container">
	<i class="ui large user icon"></i>
	<a href="/user/<?=author or 'symtech' ?>" > <?=author or 'Symtech Inc' ?> </a>
	<a class="ui button blue right floated" href="/store/install/<?=appname?>" >Install</a>
	<div>
		<i class="ui large hand right icon"></i>
		<i id="app_desc">...</i>
	</div>

	<div class="ui basic fluid segment">
		<div class="ui comments">
			<div class="ui horizontal icon divider">
				<i class="circular inverted blue comment icon"></i>
			</div>
			<div id="app_comments"> </div>
			<form class="ui reply form">
				<div class="field">
					<textarea></textarea>
				</div>
				<div class="ui fluid blue labeled submit icon button">
					<i class="icon edit"></i> Add Reply
				</div>
			</form>
		</div>
	</div>

</div>

<script>
	$(document).ready(function() {
		query_info("<?=appname?>");
	});

	function deal_json(data, typ) {
		var desc_place = $('#app_desc');
		var comment_place = $('#app_comments');
		desc_place.html(data.desc);
		comment_place.html(data.comments);
	};

	function query_info(path) {
		$.ajax({
			type: "GET",
			dataType: "jsonp",
			url: "http://172.30.11.169:8081/app/queryinfo",
			data:{ path : path },
			error: function(jqXHR, textStatus, errorThrown) {
				if (textStatus == "error") {
					alert(textStatus + " : " +errorThrown);
				} else {
					alert(textStatus);
				}
			},
			success: function(data, textStatus, jqXHR) {
				deal_json(data);
			}
		});
	};
</script>

