<? extend 'layout.html' ?>
<script src="/static/js/modal.js"></script>

<div class="tab segment">
	<div class="container">
		<div class="introduction">
			<? local author, name = appname:match('([^/]-)/(.+)') ?>
			<h2 class="ui dividing header"> <?=name or 'Unkonwn' ?> </h2>
			<div class="ui breadcrumb">
				<a class="section" href="/"><?=_("Home")?></a>
				<i class="right arrow icon divider"></i>
				<a class="section" href="/store"><?=_("Store")?></a>
				<i class="right arrow icon divider"></i>
				<div class="active section"><?=_("Details")?></div>
			</div>
		</div>
	</div>
</div>
<div class="ui basic small modal">
	<div class="header">
		<?=_("Choose a local instance name")?>
	</div>
	<div class="content">
		<div class="left">
			<i class="blue cloud download icon"></i>
		</div>
		<div class="right">
			<p>Pick up an unique local instance name</p>
			<div class="ui small input">
				<input id="app_lname" type="text" placeholder="<?=_('Instance Name...')?>"></input>
				<div class="ui corner label">
					<i class="asterisk icon"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="actions">
		<div class="two fluid ui buttons">
			<div class="ui negative labeled icon button">
				<i class="remove icon"></i>
				<?=_("Cancel")?>
			</div>
			<div class="ui positive right labeled icon button">
				<?=_("Install")?>
				<i class="checkmark icon"></i>
			</div>
		</div>
	</div>
</div>

<div class="main container">
	<i class="ui large user icon"></i>
	<a href="/user/<?=author or 'symtech' ?>" > <?=author or 'Symtech Inc' ?> </a>
	<div id="btn_install" class="ui disabled button blue right floated" onclick="ask_for_lname();"><?=_("Install")?></div>
	<div>
		<div>
			<i class="ui tag icon"></i>
			<i id="app_type">...</i>
		</div>
		<div>
			<i class="ui save icon"></i>
			<i id="app_version">...</i>
		</div>
		<div>
			<i class="ui comment icon"></i>
			<i id="app_desc">...</i>
		</div>
	</div>
<!-- 多说评论框 start -->
<div class="ds-thread" data-thread-key="<?=appname?>" data-title="<?=appname?>" data-url="http://www.kooiot.com/app/detail/<?=appname?>"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
	var duoshuoQuery = {short_name:"kooiot"};
	(function() {
	 var ds = document.createElement('script');
	 ds.type = 'text/javascript';ds.async = true;
	 ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
	 ds.charset = 'UTF-8';
	 (document.getElementsByTagName('head')[0] 
		  || document.getElementsByTagName('body')[0]).appendChild(ds);
	 })();
</script>
<!-- 多说公共JS代码 end -->


</div>

<script>
	$(document).ready(function() {
		query_info("<?=appname?>");
	});

	function deal_json(data, typ) {
		var version_place = $('#app_version');
		var desc_place = $('#app_desc');
		var type_place = $('#app_type');
		version_place.text(data.version);
		desc_place.text(data.desc);
		type_place.text(data.type);
		var btn_install = $('#btn_install');
		btn_install.removeClass('disabled');
	};

	function query_info(path) {
		$.ajax({
			type: "GET",
			dataType: "jsonp",
			url: "http://<?=srvurl or 'store.symid.com'?>/app/queryinfo",
			data:{ path : path },
			error: function(jqXHR, textStatus, errorThrown) {
				if (textStatus == "error") {
					alert(textStatus + " : " +errorThrown);
				} else {
					alert(textStatus);
				}
			},
			success: function(data, textStatus, jqXHR) {
				deal_json(data);
			}
		});
	};
	function isRegisterUserName(s) { 
		var patrn=/^[a-zA-Z]{1}([a-zA-Z0-9]|[._]){2,14}$/i; 
		if (!patrn.exec(s)) {
			return false; 
		}
		return true; 
	};
	function ask_for_lname() {
		$('.ui.modal')
			.modal('setting', {
					closable  : false,
					onDeny    : function(){
					//window.alert('Wait not yet!');
					//return false;
				},
				onApprove : function() {
					//window.alert('Approved!');
					var lname = $('#app_lname').val();
					lname = lname.trim();
					if (lname.length == 0) {
						window.alert("<?=_('Instance Name cannot be empty')?>");
						return false;
					};
					if (isRegisterUserName(lname)) {
						install_app(lname);
						return true
					};
					window.alert('只能输入3-15个以字母开头、可带数字、“_”、“.”的字串 ');
					return false;
				}
			})
			.modal('show')
			;
	};

	function install_app(lname) {
		$.post("/store/install", {path:'<?=appname?>', lname:lname}, function(data) {
				window.location.href="/store/backend";
				//status.text(data);
				})
		.done(function() {
				//alert("Application Started!!");
				})
		.fail(function() {
				alert("<?=('Failed to send start request!!')?>");
				});

	};
</script>

