<? extend 'layout.html' ?>
<div class="tab segment">
	<div class="container">
		<div class="introduction">
			<h2 class="ui dividing header"> <?=_("Application Store")?></h2>
		</div>

		<!-- desktop menu -->
		<div class="four item tabular ui menu">
			<a class="item active" data-tab="cache"><?=_("Cache")?></a>
			<a class="item" data-tab="cloud"><?=_("Cloud")?></a>
			<a class="item" data-tab="settings"><?=_("Settings")?></a>
		</div>
		<!-- Phone menu, Small screen -->
		<div class="fluid vertical ui menu">
			<a class="item active" data-tab="cache"><?=_("Cache")?></a>
			<a class="item" data-tab="cloud"><?=_("Cloud")?></a>
			<a class="item" data-tab="settings"><?=_("Settings")?></a>
		</div>
	</div>
</div>

<div class="main container">
	<div class="ui tab active" data-tab="cache">
		<? include 'store/cache.html' ?>	
	</div>
	<? if lwf.ctx.user then ?>
	<div class="ui tab" data-tab="cloud">
		<? include('store/remote.html', {lwf=lwf, app=app, srvurl=srvurl}) ?>
	</div>
	<div class="ui tab" data-tab="settings">
		<? include('store/settings.html', {lwf=lwf, app=app, srvurl=srvurl}) ?>
	</div>
	<? end ?>

</div>

