<div class="ui segment">
	<form id="settingform" action="/store/settings" method="post" class="ui fluid form">
		<div class="inline fields">
			<div class="field">
				<div class="ui right pointing label"><b><?=_("Server")?></b></div>
				<input name="srvurl" placeholder="domain:port" type="text" value="<?=srvurl?>"/>
			</div>
			<div class="field">
				<div class="ui right pointing label"><b><?=_("User Key")?></b></div>
				<input name="userkey" placeholder="Your user key" type="text" value="<?=authkey?>"/>
			</div>
		</div>
		<input type="submit" class="ui right floated tiny blue submit button" value="<?=_('Apply')?>"/>
	</form>
	<div id="setting_status"></div>
</div>

<script>
	$(document).ready(function() {
		$('#settingform').ajaxForm({
			success: function(data) {
				$('#setting_status').html('<br> <i> '+data + '</i>');
			},
			error: function(data) {
				alert(data);
			},
		});
	});
</script>
