<? extend 'layout.html' ?>
<div class="tab segment">
	<div class="container">
		<div class="introduction">
			<h2 class="ui dividing header"> Cloud Settings </h2>
			<div class="ui breadcrumb">
				<a class="section" href="/">Home</a>
				<i class="right arrow icon divider"></i>
				<a class="section" href="/store">Store</a>
				<i class="right arrow icon divider"></i>
				<div class="active section">Settings</div>
			</div>
		</div>
	</div>
</div>

<div class="main container">
	<div class="ui segment">
		<form action="login" method="post" class="ui fluid form">
			<input type="hidden" name="type" value="device" />
			<div class="ui toggle checkbox field">
				<input name="enable" type="checkbox" checked="true">
				<label><b>Enable</b></label>
			</div>
			<div class="two fields">
				<div class="inline field">
					<div class="ui pointing right label"><b>Server</b></div>
					<input name="devname" placeholder="http://172.30.11.169:8081" type="text">
				</div>
				<div class="inline field">
					<div class="ui pointing right label"><b>User Key</b></div>
					<input name="authkey" placeholder="Your user key" type="text">
				</div>
			</div>
			<input type="submit" class="ui right floated tiny blue submit button" value="Apply"/>
		</form>
	</div>
</div>
