
<? extend 'layout.html' ?>

<script src="/static/js/table.js"></script>

<div class="tab header segment">
	<div class="container">
		<div class="introduction">
			<h1 class="ui dividing header"><?=_("Upgrading")?> <?=lname?><h1>
			<br>
		</div>
	</div>
</div>
<div class="main container">
<table class="ui sortable table segment">
	<thead>
		<tr>
			<th><?=_("Affected Instance")?></th>
		</tr>
	</thead>
	<tbody>
	<?
	local counts = 0
	for _, v in pairs(inslist) do 
		counts = counts + 1
	?>
	<tr>
		<td>
			<? = v ?>
		</td>
	</tr>
	<? end ?>

	</tbody>
	<tfoot>
		<tr>
			<th><?=_("Total")?> <?=counts?></th>
		</tr>
	</tfoot>
</table>

<? if not err then ?>
<div class="ui red button" onclick="doitnow();"><?=_("Confirm")?></div>
<? end ?>

<div class="ui message">
	<div class="content">
		<div class="header">
			<div id="status">
				<? = err or '' ?>
			</div>
		</div>
	</div>
</div>

</div>

<script>
	function doitnow() {
		var status = $('#status');
		$.post("/store/upgrade", {lname:"<?=lname?>"}, function(data) {
				window.location.href=data;
				})
		.done(function() {
				})
		.error(function(data) {
			alert(data.responseText);
		});
	};
</script>

