<? extend 'layout.html' ?>


<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
<!-- DataTables -->
<script type="text/javascript" charset="utf-8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>

<div class="segment">
	<div class="container">
	</div>
</div>

<script>
	$(document).ready(function() {
		var oTable = $('#logstable').dataTable({
			//"bStateSave": true,
		});

		newtimer = setInterval( function () {
			query_logs();
		}, 1000 );
		var timer_running = true;

		$("#clear").click(function() {
			oTable.fnClearTable();
		});

		$("#stop").click(function() {
			if (timer_running) {
				clearInterval(newtimer)
				timer_running = false;
			}
		});
		$("#start").click(function() {
			if(!timer_running) {
				newtimer = setInterval( function () {
					query_logs();
				}, 1000 );
				timer_running = true;
			}
		});

		query_logs();
	});
	function query_logs() {
		$.get("log/query", { type : 'logs', clean : true }, function(data){
			var jdata = data;
			if (typeof(jdata) != "object") {
				jdata = JSON.parse(data);
			}
			var oTable = $('#logstable').dataTable();
			for (var i in jdata)
			{
				var log = JSON.parse(jdata[i]);
				var unixTimestamp = new Date(log.timestamp);
				var commonTime = unixTimestamp.toLocaleString() + ' ' +  (log.timestamp % 1000);
				oTable.fnAddData( [
					commonTime,
					log.src ? log.src : "N/A",
					log.level ? log.level : "N/A",
					log.content ? log.content : "N/A",
					]);
			};
			var count = oTable.fnSettings().fnRecordsTotal();
			for (var i=1000; i < count; i++) {
				oTable.fnDeleteRow(0);
			}
		})
		.done(function() {
			//alert("Data Saved successfully!!");
		})
		.fail(function() {
			//alert("Failed to save content to file!!");
		});
	}
</script>

<div class="main container">
	<div class="ui small icon buttons">
		<div class=" ui icon button" id="start">
			<i class="play teal icon" ></i>
			开始刷新
		</div>
		<div class="or"></div>
		<div class="ui icon button" id="stop">
			<i class="stop red icon" ></i>
			停止刷新
		</div>
	</div>
	<div class="ui tiny icon button" id="clear">
		<i class="trash red icon" ></i>
		清除
	</div>

	<div class="ui divider"></div>


	<table cellpadding="0" cellspacing="0" border="0" class="display" id="logstable">
		<thead>
			<tr>
				<th style="width: 300px">Timestamp</th>
				<th style="width: 60px">Source</th>
				<th style="width: 60px">Level</th>
				<th>Content</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
