<? extend 'layout.html'?>
<script src="/static/js/table.js"></script>

<div class="tab segment">
	<div class="container">
		<div class="introduction">
			<h2 class="ui dividing header"> <?=_("IR Controller")?> - <?=app.appname ?> </h2>
		</div>
	</div>
</div>

<div class="main container">
	<div class="two column stackable ui grid">
		<div class="column">
			<div class="ui segment">
				<div class="ui top attached label"><b><?=_('Control Panel')?></b></div>
				<div id="panel"></div>
			</div>
		</div>
		<div class="column">
			<div class="ui segment">
				<div class="ui top attached label"><b><?=_('Editor')?></b></div>
				<form class="ui form" method="post" action="/apps/<?=app.appname?>/mod">
					<textarea class="ui full filled fluid textarea" name="user_mod" id="user_mod">
					</textarea>
					<input class="ui green button" type="button" onclick="set_panel()" value="<?=_('Apply')?>"/>
					<input class="ui right floated teal submit button" type="submit" value="<?=_('Save')?>"/>
				</form>
			</div>
		</div>
	</div>
	<div class="ui message" id="status"><?=info or '&nbsp;'?></div>
	<div class="ui divider"></div>
	<div class="two column stackable ui grid">
		<div class="column">
			<div class="ui segment">
				<div class="ui top attached label"><b><?=_('Test')?></b></div>
				<form class="ui form" method="post">
					<div class="ui label"> <?=_('Command')?>: </div>
					<div class="ui selection labeled dropdown">
						<? local def = (#commands ~= 0 and commands[1] or '') ?>
						<input id="command" name="command" type="hidden" value="<?=def?>"/>
						<div class="default text"><? = def ?> </div>
						<i class="dropdown icon"></i>
						<div class="menu">
							<? for _, v in pairs(commands) do ?>
							<div class="item" data-value="<?=v?>"><?=v?></div>
							<? end ?>
						</div>
					</div>
					<input class="ui teal button submit" type="submit" value="<?=_('Send')?>"></input>
				</form>

			</div>
		</div>
		<div class="column">
			<div class="ui segment">
				<div class="ui top attached label"><b><?=_('Management')?></b></div>
				<div class="ui group">
					<a class="ui teal button" href="/apps/<?=app.appname?>/tpl"><?=_('Online Templates')?></a>
					<a class="ui teal button" href="/apps/<?=app.appname?>/learn"><?=_('Learn')?></a>
				</div>
			</div>
		</div>
	</div>


</div>


<script>
	(function() {
		var status = $('#status');
		$('form').ajaxForm({
			beforeSend: function() {
				status.text(' ');
			},
			success: function() {
			},
			complete: function(xhr) {
				status.text(xhr.responseText);
			}
		}); 
		query_panel();
	})();
	function query_panel() {
		$.get("/apps/<?=app.appname?>/mod", {}, function(data) {
				var mod = $('#user_mod');
				mod.val(data);
				var panel = $('#panel');
				panel.html(data);
				})
		.done(function() {
				})
		.fail(function() {
				alert("Failed to send save mod request!!");
				});
	};
	function set_panel() {
		var mod = $('#user_mod');
		var val = mod.val();
		var panel = $('#panel');
		panel.html(val);
	};
	function send_command(cmd) {
		var status = $('#status');
		$.post("", {command:cmd}, function(data) {
				status.text(data);
				})
		.done(function() {
				//alert("Application Started!!");
				})
		.fail(function() {
				alert("Failed to send command request!!");
				});
	};
</script>
