<? extend 'layout.html'?>
<div class="tab header segment">
	<div class="container">
		<div class="introduction">
			<h2 class="ui dividing header"> <?=_("Kankun SmartPlug Controls")?> - <?=app.appname ?> </h2>
		</div>
		<br>
	</div>
</div>

<div class="main container">
	<div class="ui message"><?=info or ''?></div>

	<table id="applist" class="ui sortable table segment">
		<div id="loader" class="ui disabled inverted dimmer">
			<div id="loader" class="ui text loader">Processing</div>
		</div>
		<thead>
			<tr>
				<th><?=_("Name")?></th>
				<th><?=_("Information")?></th>
				<th><?=_("Controls")?></th>
			</tr>
		</thead>
		<tbody>
		<?
		local counts = 0
		for name, dev in pairs(devs) do
			counts = counts + 1
		?>
			<tr>
				<td>
					<a href="view/<? =escape_url(name) ?>"><b><?=name?></b></a>
				</td>
				<td>
					<a href="http://<?=dev.ip?>/">
						<b><?=dev.ip?></b>
					</a> 
					Type:
						<b>
							<a href="/store/author/<?=dev.ver?>">
								<?=dev.ver or 1?>
							</a>
						</b>
					</i>
				</td>
				<td>
					<div class="ui mini icon button" onclick="dev_ctrl('<?=name?>', 'relay_on')">
						<i class="ui teal stop icon"></i>
						<?=translate("RELAY ON")?>
					</div>
					<div class="ui mini icon button" onclick="dev_ctrl('<?=name?>', 'relay_off')">
						<i class="ui teal play icon"></i>
						<?=translate("RELAY OFF")?>
					</div>
					<div class="ui mini icon button" onclick="dev_ctrl('<?=name?>', 'light_on')">
						<i class="ui red trash icon"></i>
						<?=translate("LIGHT ON")?>
					</div>
					<div class="ui mini icon button" onclick="dev_ctrl('<?=name?>', 'light_off')">
						<i class="ui red trash icon"></i>
						<?=translate("LIGHT OFF")?>
					</div>
				</td>
			</tr>
		<? end ?>

		</tbody>
		<tfoot>
			<tr>
				<th><?=_("Total")?> <?=counts?></th>
				<th>
				</th>
				<th></th>
			</tr>
		</tfoot>
	</table>

</div>

<script type="text/javascript">
	function refresh_page() {
		var newtimer = setInterval( function () {
			window.location.reload();
		}, 1000 );
	}

	function dev_ctrl(name, cmd) {
		$('#loader').removeClass('disabled');
		$('#loader').addClass('active');
		$.post("/app/<?=app.appname?>", {command:cmd, name:name}, function(data) {
		})
		.done(function() {
				refresh_page();
		})
		.fail(function() {
				alert("<?=_('Failed to send request!!')?>");
		});
	};

</script>
